/* Site logo, title */

header {
  font-size: 1.4rem;
  line-height: 20px;
  margin: 10px 0 0;
  padding: 0;

}

.site-branding {
  @include unit(half);
  padding: 0;
  width: auto;
  float: left;

  .site-logo {
    @include mobile {
      margin-left: -$gutters/2;
      width: 90%;
    }
  }
}

#newsletter-signup {
  float: left;
  margin:10px 45px;
  width:160px;
  h5{
    font-weight: normal;
    color:$color__text-main;
    font-size: 0.6em;
    line-height: 20px;
    letter-spacing:0.87px;
    text-align: left;
    text-transform: none;
  }
  input[type="text"]{
    margin-right: 0;
    width: 128px;
    font-size:12px;
  }
}
.site-contact{
  float: left;
  margin: 10px 0;
  width: 249px;
  padding: 0;
}
#newsletter-signup input[type="email"] {
  color: #444444;
  font-size: 12px;
  height: 23px;
  padding: 3px 4px;
  width: 138px;
}
#newsletter-signup > input[type="image"] {
  position: relative;
  right: -3px;
  top: 5px;
}
/* Social media links, contact information, and cart links */
.site-contact {
  @include font-size(14);
  @include unit(half);

  @include mobile {
    display: none; // This creates too much visual noise on mobile, at least for now.
  }

  img {
    vertical-align: middle;

    &.flower {
//      vertical-align: top;
      @include desktop-max {
        display: none;
      }
    }
  } // img

  a {
    color: $olive;
  }
}

.site-signup {
  margin-top: 0.5em;

  h5 {
    margin-bottom: 0.25em;

    @include desktop-max {
      span {
        display: none;
      }
    }
  }

  input[type="email"] {
    width: 70%;
  }

  input[type=submit] {
    margin-left: 1%;
    width: 28%;
  }
}


/* Breadcrumbs */
.breadcrumbs-and-search {
  @extend %row;
  position: relative;
  z-index: 100;
  margin: -6px 0 0 0;
}

.breadcrumbs {
  @include font-size(12);
  margin: 2px 30px 5px;

  @include mobile {
    display: none;
  }

  a {
    text-decoration: none;
  }
}

/* Search bar */
.search-box {
  position: absolute;
  right: -3px;
  top: -48px;

  @include tablet {
    right: 0;
    top: -4px;
  }

  .icon-search {
    color: $color__text-screen;
    cursor: pointer;
    display: inline-block;
    font-size: 29px;
    vertical-align: -7px;

    @include tablet {
      font-size: 24px;
      margin-right: 20px;
    }
  }

  .search-form {
    display: inline-block;
  }

  .search-field {
    -webkit-transition:all 0.125s ease 0s;
    -moz-transition:all 0.125s ease 0s;
    -ms-transition:all 0.125s ease 0s;
    -o-transition:all 0.125s ease 0s;
    transition:all 0.125s ease 0s;
    opacity: 0;
    overflow: hidden;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #867d56;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    margin: 0 6px 0 0;
    padding: 10px;
    width: 0;

    &.open {
      opacity: 1;
      width: 250px;

      @include tablet {
        width: 260px;
      }
    }
  }

  .search-submit {
    display: none;
  }
}

header.section-header{
  margin: 100px 0 0;
}


@include tablet {
  .home .search-box {
    top: -5px; /* Corrects placement for homepage, where there are no breadcrumbs */
  }
}
