/* Site logo, title */
.site-branding {
  @include unit(half);
  padding-top: 0;
  padding-bottom: 0;

  @include mobile {
    text-align: center;

    .site-logo {
      width: 75%;
      margin: 0 auto;
    }
  }
}

/* Social media links, contact information, and cart links */
.site-contact {
  @include font-size(14);
  @include unit(half);

  @include mobile {
    display: none; // This creates too much visual noise on mobile, at least for now.
  }

  img {
    vertical-align: middle;

    &.flower {
      vertical-align: top;
      @include desktop-max {
        display: none;
      }
    }
  } // img

  a {
    color: $olive;
  }
}

.site-signup {
  margin-top: 0.5em;

  h5 {
    margin-bottom: 0.25em;

    @include desktop-max {
      span {
        display: none;
      }
    }
  }

  input[type="email"] {
    width: 70%;
  }

  input[type=submit] {
    margin-left: 1%;
    width: 28%;
  }
}


/* Breadcrumbs */
.breadcrumbs-and-search {
  @extend %row;
  position: relative;
  z-index: 100;
}

.breadcrumbs {
  @include font-size(12);
  margin: 5px 30px;

  a {
    text-decoration: none;
  }
}

/* Search bar */
.search-box {
  position: absolute;
  right: 0;
  top: -10px;

  .icon-search {
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    margin-right: 20px;
    vertical-align: -7px;
  }

  .search-form {
    display: inline-block;
  }

  .search-field {
    -moz-transition: all 0.125s;
    -ms-transition: all 0.125s;
    -o-transition: all 0.125s;
    -webkit-transition: all 0.125s;
    opacity: 0;
    overflow: hidden;
    transition: all 0.125s;
    width: 0;

    &.open {
      opacity: 1;
      width: 250px;
    }
  }

  .search-submit {
    display: none;
  }
}

.home .search-box {
  top: -5px; /* Corrects placement for homepage, where there are no breadcrumbs */
}
