
@font-face {
    font-family: 'Showcase Script';
    src: url('showcase/showcasescript-webfont.eot');
    src: url('showcase/showcasescript-webfont.eot?#iefix') format('embedded-opentype'),
         url('showcase/showcasescript-webfont.woff2') format('woff2'),
         url('showcase/showcasescript-webfont.woff') format('woff'),
         url('showcase/showcasescript-webfont.ttf') format('truetype'),
         url('showcase/showcasescript-webfont.svg#showcasescript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Showcase Slab';
    src: url('showcase/showcaseslab-webfont.eot');
    src: url('showcase/showcaseslab-webfont.eot?#iefix') format('embedded-opentype'),
         url('showcase/showcaseslab-webfont.woff2') format('woff2'),
         url('showcase/showcaseslab-webfont.woff') format('woff'),
         url('showcase/showcaseslab-webfont.ttf') format('truetype'),
         url('showcase/showcaseslab-webfont.svg#showcaseslab') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Showcase Ornament';
    src: url('showcase/showcaseorn-webfont.eot');
    src: url('showcase/showcaseorn-webfont.eot?#iefix') format('embedded-opentype'),
         url('showcase/showcaseorn-webfont.woff2') format('woff2'),
         url('showcase/showcaseorn-webfont.woff') format('woff'),
         url('showcase/showcaseorn-webfont.ttf') format('truetype'),
         url('showcase/showcaseorn-webfont.svg#showcaseornaments') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Showcase Mini';
    src: url('showcase/showcasesansmini-webfont.eot');
    src: url('showcase/showcasesansmini-webfont.eot?#iefix') format('embedded-opentype'),
         url('showcase/showcasesansmini-webfont.woff2') format('woff2'),
         url('showcase/showcasesansmini-webfont.woff') format('woff'),
         url('showcase/showcasesansmini-webfont.ttf') format('truetype'),
         url('showcase/showcasesansmini-webfont.svg#showcasesans_mini') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Showcase Sans';
    src: url('showcase/showcasesans-webfont.eot');
    src: url('showcase/showcasesans-webfont.eot?#iefix') format('embedded-opentype'),
         url('showcase/showcasesans-webfont.woff2') format('woff2'),
         url('showcase/showcasesans-webfont.woff') format('woff'),
         url('showcase/showcasesans-webfont.ttf') format('truetype'),
         url('showcase/showcasesans-webfont.svg#showcasesans') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Manual emphasis on first couple of words */
.spring .entry-content b {
    color: #4f788f;
    font-family: "Showcase Script";
    font-weight: normal;
    font-size: 36px;
    -moz-font-feature-settings: "dlig=1, clig=1, calt=1";
    -ms-font-feature-settings: "dlig", "clig", "calt";
    -webkit-font-feature-settings: "dlig", "clig", "calt";
    -o-font-feature-settings: "dlig", "clig", "calt";
    font-feature-settings: "dlig", "clig", "calt";
    letter-spacing: 0;
    line-height: 1;
    margin-top: -20px 10px 0 -20px;
}

/* Panel styles */
.spring .panel {
    background: #edccb6 url('symphony.png') repeat;
    border-color: #45814b;
    position: relative;
}

.spring .panel b {
    font-size: 29px;
    color: #45814b;
}

.spring .panel figure img {
    background: none;
    box-shadow: none;
    padding: 0;
}

.spring .panel figcaption {
    color: #45814b;
    font-family: "Showcase Slab";
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}

.spring .panel figcaption:before,
.spring .panel figcaption:after {
    content: "1";
    display: inline-block;
    font-family: "Showcase Ornament";
    padding: 0 10px;
}

.spring .panel figcaption:after {
    content: "3";
}

.spring .panel:before {
    color: #45814b;
    content: "F";
    display: block;
    font-family: "Showcase Ornament";
    font-size: 31px;
    position: absolute;
    bottom: 40px;
    right: 20px;
}

/* Series navigation */
.spring .series-navigation {
    background-image: url('symphony-blue.png');
    border-color: #4f788f;
}

.spring .series-navigation:before {
    color: #4f788f;
    bottom: 60px;
}

.spring .series-navigation p {
    margin: 4em 2em;
}

.spring .series-navigation b {
    color: #4f788f;
}

.spring .series-navigation .next-post {
    position: relative;
}

/* Emphasis */
.spring strong {
    color: #45814b;
}

/* Text links */
.spring .entry-content a, .featured-series.spring a { color: #4f788f; }

/* Post headings */
.spring .entry-content > h3 {
    color: #4f788f;
    font-family: "Showcase Script";
    font-size: 2em;
    line-height: 0.5;
    margin: 3em 0 1.5em;
    -moz-font-feature-settings: "swsh=1, cswh=1, dlig=1, clig=1, calt=1";
    -ms-font-feature-settings: "swsh", "cswh", "dlig", "clig", "calt";
    -webkit-font-feature-settings: "swsh", "cswh", "dlig", "clig", "calt";
    -o-font-feature-settings: "swsh", "cswh", "dlig", "clig", "calt";
    font-feature-settings: "swsh", "cswh", "dlig", "clig", "calt";
}

/*
.spring .entry-content > h3:before {
    color: #45814b;
    content: "v";
    display: block;
    font-family: "Showcase Ornament";
    font-size: 29px;
    line-height: 1;
    padding: 0 0 20px;
}
*/
.spring .entry-content > h3 span {
    color: #45814b;
    display: block;
    font-family: "Showcase Slab";
    margin: 35px auto 25px;
}

.spring .entry-content > h3 > span:after,
.spring .entry-content > h3 > span:before,
.spring .entry-content > h3 span span:before {
    color: #45814b;
    content: "S";
    display: inline-block;
    font-family: "Showcase Ornament";
    font-size: 22px;
    line-height: 1;
    padding: 0 5px;
    vertical-align: 7px;
}

.spring .entry-content > h3 > span:after {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.spring .entry-content > h3 span span {
    display: inline;
}

.spring .entry-content > h3 span span:before {
    content: "X";
    padding: 0;
    vertical-align: 0;
}

.spring .entry-content h4 {
    border-color: #45814b;
}

.spring h2,
.spring .entry-content h4 a,
.spring h4,
.spring h4 a {
    color: #45814b;
}

.spring .sourcing h4 {
    color: #a58059;
    border-color: #d7b693;
}

/* Read more links */
.spring .read-more a {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    background: #4f788f;
}
.spring .read-more a:hover {
    background: #45814b;
}
