button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	box-shadow: 0 0 0 4px #fff, 1px 1px 2px 4px rgba(0,0,0,.25);
	color: #fff !important; /* Temporary cheat for browser weirdness */
	@include font-size(13);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
	padding: .7em 1.4em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-webkit-appearance: none; /* Otherwise Chrome will override the background colour. */

	&:hover {
		border-color: $color__border-button-hover;
		background: darken($color__background-button, 5%);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		background: darken($color__background-button, 10%);
	}
}


.read-more {
	text-align: center;

	a {
		@extend button;
		text-decoration: none;

		&::before {
			content: '\2022';
			padding-right: 10px;
		}

		&::after {
			content: '\BB';
			padding-left: 10px;
		}
	}
}
