.wp-caption,
figure {
  //	margin-bottom: 1.5em;
  max-width: 100%;
  margin: 1em 5px 2em;

  img[class*="wp-image-"] {
    @include center-block;
  }

  .wp-caption-text,
  figcaption {
    font-style: italic;
    margin: 0;
    text-align: center;

    h5 {
      font-style: normal;
    }

    h4 {
      border: none;
    }
  } // figcaption

  &.col {
    margin: 0;
  }
}