.wp-caption,
figure {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text,
  figcaption {
    font-style: italic;
		margin: 0;
    text-align: center;

    h5 {
      font-style: normal;
    }

    h4 {
      border: none;
    }
	}
}

/*
figure:not(.col) {
  text-align: center;
  margin: 1em 5px 2em;
}
*/
