.entry-content img {
  @extend %bordered;
  margin-bottom: 5px;
}

/* Make images circular using this class (works best on images that are cropped to a square!) */
.circular {
  border-radius: 50%;
  border-width: 4px;
}

/* Sometimes, we want to use "alternating" rows, in which we alternate between images and text.
 * This allows for a more varied layout. */
.alternating img {
    max-width: 85%;

  &:nth-of-type(odd) img {
    margin-left: 25%;
  }

  &:nth-of-type(even) img {
    margin-right: 25%;
  }
}

/* Don't show borders or box-shadows for certain images */
.entry-content .wp-smiley,
.post .wp-smiley,
.entry-content .borderless,
.post .borderless,
.panel .borderless {
  background: none;
	border: none;
  box-shadow: none;
	margin: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
