h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 auto;

  a {
    text-decoration: none;
  }
}

h1 {
  @include font-size(28);
  @include tablet {
    @include font-size(36);
  }
  color: $orange;
}

h2 {
  @include font-size(21);
  @include tablet {
    @include font-size(28);
  }
  color: $green;
}

h3 {
  @include font-size(24);
  text-align: center;
}

h4 {
  @include font-size(21);
  font-weight: normal;
  margin: .75em auto;
  padding-bottom: .25em;
  color: $orange;
  border-bottom: 1px solid $orange;
  text-align: center;

  a {
    color: $orange;
  }

  strong {
    white-space: nowrap;
  }
}
