%bordered {
  border: 6px solid #fff;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);

  @include tablet {
    border-width: 8px; /* We use a slightly larger border on larger screens */
  }
}

%icons {
  font-family: "saffron-marigold" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}

%boxed-text {
  background: darken($brown, 25%);
  border: 1px solid $cream;
  outline: 3px solid darken($brown, 25%);
  padding: 4px 2px;
  color: #FDF2F7;
  @include font-size(14);
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0;

  &::before,
  &::after {
    content: '\00b7';
    padding: 0 5px;
    display: inline;
  }

  a {
    color: $cream;
  }
}
