%bordered {
  background: #fff;
  padding: 8px;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);

  @include tablet {
    padding: 10px; /* We use a slightly larger border on larger screens */
  }

}

%icons {
  font-family: "saffron-marigold" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
