@font-face {
  font-family: 'Isabella';
  src: url('isabella-script/Isabella.eot') format('eot');
  src: url('isabella-script/Isabella.eot?#iefix') format('embedded-opentype'),
       url('isabella-script/Isabella.woff') format('woff'),
       url('isabella-script/Isabella.ttf') format('truetype'),
       url("isabella-script/Isabella.svg#Isabella") format("svg");
}

/* First-letter and/or word */
.featured-series.valentines-day > p:first-of-type:first-letter,
.valentines-day .entry-content > p:first-of-type:first-letter,
.valentines-day p.intro:first-letter,
.valentines-day p.float-left + h3 + p:first-letter,
.valentines-day .panel p:first-of-type:first-letter {
    color: #8c281b;
    font-family: "Isabella", cursive;
    text-shadow: none;
    font-size: 132px;
    margin: -30px 10px -20px -20px;
}
.valentines-day .entry-content > p:first-of-type:first-line {
    color: #8c281b;
    font-family: "Isabella", cursive;
    font-size: 48px;
    line-height: 0.8;
    word-spacing: 5px;
}

/* Panel styles */
.valentines-day .panel {
    background: #edccb6 url('panel.jpg') repeat;
    color: #4c1617;
}
.valentines-day .panel p:first-of-type:first-letter {
    font-size: 90px;
    line-height: 0.6;
    margin: -10px 10px -10px -20px;
}

/* Series navigation */
.valentines-day .series-navigation p {
    margin: 4em 2em;
}

/* Make images a smidge smaller */
.valentines-day .twocol img {
    max-width: 85%;
}

.valentines-day .twocol:nth-of-type(odd) img {
    margin-left: 25%;
}

.valentines-day .twocol:nth-of-type(even) img {
    margin-right: 25%;
}

/* Emphasis */
.valentines-day strong { color: #4c1617; }

/* Text links */
.valentines-day .entry-content a, .featured-series.valentines-day a { color: #8c281b; }

/* Post headings */
.valentines-day .entry-content > h3 {
    color: #8c281b;
    font-family: "Isabella";
    font-size: 4em;
    line-height: 0.5;
    margin: 1em 0 .5em;
}

.valentines-day .entry-content > h3:after,
.valentines-day .entry-content > h3:before {
    content: "v";
    display: inline-block;
    font-family: "saffron-marigold" !important;
    font-size: 1.25em;
    line-height: 1;
    color: #8c281b;
    opacity: 0.4;
    padding: 0 15px;
    vertical-align: middle;
}

.valentines-day h3:after {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: translateZ(1px) rotateY(180deg);
}

.valentines-day h4 { border-color: #4c1617; }

.valentines-day h2,
.valentines-day .entry-content h4 a,
.valentines-day h4,
.valentines-day h4 a {
    color: #4c1617;
}

/* Read more links */
.valentines-day .read-more a {
    color: #6d6e72;
    border-color: #ced1d8;
    text-shadow: 1px 1px 1px #fff;
    background: #f2f5fc;
    background: -moz-linear-gradient(top, #f2f5fc 0%, #e6e8ef 24%, #cdd0d7 47%, #dee0e5 77%, #e8eaef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5fc), color-stop(24%,#e6e8ef), color-stop(47%,#cdd0d7), color-stop(77%,#dee0e5), color-stop(100%,#e8eaef));
    background: -webkit-linear-gradient(top, #f2f5fc 0%,#e6e8ef 24%,#cdd0d7 47%,#dee0e5 77%,#e8eaef 100%);
    background: -o-linear-gradient(top, #f2f5fc 0%,#e6e8ef 24%,#cdd0d7 47%,#dee0e5 77%,#e8eaef 100%);
    background: -ms-linear-gradient(top, #f2f5fc 0%,#e6e8ef 24%,#cdd0d7 47%,#dee0e5 77%,#e8eaef 100%);
    background: linear-gradient(to bottom, #f2f5fc 0%,#e6e8ef 24%,#cdd0d7 47%,#dee0e5 77%,#e8eaef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5fc', endColorstr='#e8eaef',GradientType=0);
}
.valentines-day .read-more a:hover {
    background: #e8eaef;
    background: -moz-linear-gradient(top, #e8eaef 0%, #dee0e5 23%, #cdd0d7 53%, #e6e8ef 76%, #f2f5fc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8eaef), color-stop(23%,#dee0e5), color-stop(53%,#cdd0d7), color-stop(76%,#e6e8ef), color-stop(100%,#f2f5fc));
    background: -webkit-linear-gradient(top, #e8eaef 0%,#dee0e5 23%,#cdd0d7 53%,#e6e8ef 76%,#f2f5fc 100%);
    background: -o-linear-gradient(top, #e8eaef 0%,#dee0e5 23%,#cdd0d7 53%,#e6e8ef 76%,#f2f5fc 100%);
    background: -ms-linear-gradient(top, #e8eaef 0%,#dee0e5 23%,#cdd0d7 53%,#e6e8ef 76%,#f2f5fc 100%);
    background: linear-gradient(to bottom, #e8eaef 0%,#dee0e5 23%,#cdd0d7 53%,#e6e8ef 76%,#f2f5fc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8eaef', endColorstr='#f2f5fc',GradientType=0);
}
.valentines-day .read-more a .extra { display: none; }
