.sourcing {
  @include clearfix;
  @include font-size(14);
  text-align: center;

  @include tablet {
    background: rgba(255,255,255,.25);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,.125);
    padding: 1em 2em 1em;
    margin: 0 3em 1em;
  }

  h4 {
    border-bottom: 1px solid lighten($brown, 15%) !important; // So individual series' styles don't override it
    color: lighten($brown, 5%) !important; // So individual series' styles don't override it
    @include font-size(16);
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2;
    margin: 0.5em 0.5em 1.5em;
    padding-bottom: .5em;
    text-transform: uppercase;
  }

  ol {
    counter-reset: sources 0;
    margin-bottom: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 0 0.5em;
    //white-space: nowrap;

    &::before {
      content: counter(sources) ".";
      counter-increment: sources;
      margin-right: 5px;
    }
  }

  .col {
    ol {
      text-align: left;
    }

    p {
      text-align: left;
      line-height: 1.6;
    }

    h4 {
      margin: 0 0 10px 0;
      border-top: 1px solid #dac9be;
      border-bottom: 1px solid #dac9be;
      padding: 10px;
      text-transform: none;
      font-style: italic;
      font-size: 1.4em;
      line-height: 1;
      font-weight: normal;
      letter-spacing: 0;
    }
  }
}



