$tablet-width: 768px;
$desktop-width: 1024px;


@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-max {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin portrait {
  @media (orientation : portrait) {
    @content;
  }
}


@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;

    .site-branding{
      margin: 0 0 0 15px;
      width: 75%;
    }
    .search-box {
      position: relative;
      right: 0;
      top: 0;
    }

  }
}