$orange: #BD6518;
$green: #8c927b;
$olive: #7D7556;
$russet: #482812;
$peach: #FEE6D6;

$color__background-body: $peach;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__link: #BD6518;
$color__link-visited: $color__link;
$color__link-hover: darken($color__link, 10%);
$color__text-main: #4A4633;
$color__text-screen: #4A4633;

$color__background-button: $orange;
$color__border-button: $russet;
$color__border-button-hover: lighten($russet, 25%);
$color__border-button-focus: darken($russet, 25%);
$color__border-input: $olive;
$color__border-abbr: #666;
$color__text-input: #867D56;
$color__text-input-focus: #4A4633;


$color__valentines-day: #7d0b25;
$color__spring-decorating: #45814b;
$color__mothers-day: #714926;
$color__summer: #304f64;
$color__back-to-school: #233367;
$color__fall: #bd6233;
$color__thanksgiving: #466545;
$color__holidays: #1f2566;
