// Set gutter width and site container width
$gutters: 1.5em;
$container-max-width: 850px;

/*
 * Use Girder for our grid structure
 *
 * https://github.com/unmaya/Girder
 */
@import "girder/girder";

#page {
  @include baseline-grid;
  padding: 0 $gutters / 2;
  margin: 0 auto;
  max-width: #{$container-max-width};
}

#main {
  @extend %row;
}

/* Hide elements on mobile devices—useful for too-long strings of text */
@include mobile {
  .mobile-hide {
    display: none;
  }
}
