@import url(http://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400);


/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/

/* Top Nav bar 
.custom ul#topnav {
border-style: none;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
background:#FDDFCB none repeat scroll 0 0;
width: 100%;
float: left;
}
.custom ul#topnav li { float: right; padding: 3px 10px 3px 0px; }
.custom ul#topnav li a { font-size: 1.2em; color: #000000; font-weight: bold;}
.custom ul#topnav li a:hover { text-decoration: underline; }
*/

/* Nav compact */
.custom ul.menu { border:none; }
	.custom ul.menu a { border:none; color:rgb(143,44,80); font-weight:bold; font-size:14px;letter-spacing:0px; text-transform:capitalize; background:none; }
        .custom ul.menu a:hover, .custom ul.menu .current a:hover { color:#666; }

/* Remove Uppercase */
.custom .headline_meta span,
 .custom .headline_meta abbr {
   text-transform: none;
}

.custom #my-search { float:right; width:306px; }

.custom form.search_form_visible { width: 306px; }

.custom form.search_form_visible #s {
    background:#fff;
    border: 1px solid #660033;
    font-size:12px;
    margin:0 6px 0 0;
    padding:4px;
    width:230px;
	float:left;
}

.custom #my-search input#searchsubmit.my-search {
    background: #867D5C;
    color: #fff;
    cursor: pointer;
    float: left;
    padding: 5px;
}

/* Teaser should take the entire width */
.custom .teaser {
    width: 100%;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px dotted #bbb;
    text-align: justify;
}

.custom .teasers_box {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0:
}

.custom .sidebar ul.sidebar_list {position: relative;}
.custom #header_widget_1 ul.sidebar_list li.widget {position: absolute; display: block; top:40px; left:600px; width:200px; }

/*Category page Introductory Headline & Content */
.custom #archive_intro h1 { 
    color: #8f2c50;
}
.custom #archive_intro {
    background: #FDDFCB;
}

/*Subscribe Box In Single Post*/
/*background: url(images/rss-subscribe.gif) no-repeat 30px center;margin:0 auto 20px auto;*/
#singlesubscribe {width:800px;height:30px;border:1px solid #ccc;padding:10px 0 10px 10px;background:#FDDFCB;text-align:center}
input.txt{background:#fff; padding:2px 0 0 15px !important; width: 220px; height: 21px;border:1px solid #8f2c50 !important;color:#8f2c50;position:relative;left:10px;top:3px;font-size:14px}
input.btn{background:#8f2c50;color:#fff;width:90px !important;height: 30px !important;margin:0 0 0 0 !important;border:none !important;font-weight:bold;position:relative;left:10px;top:3px;font-size:14px}



/* Customize appearance of post listings on parent page into grid structures */
.post-listing::after {
	display: block;
	clear: both;
	content: '';
}
.post-listing .column {
	width: 45%;
	float: left;
	margin: 0 5% 2em 0;
	text-align: center;
}

.post-listing .column + .column + .column {
	clear: left;
}

.post-listing .column + .column + .column + .column {
	clear: none;
}


.post-listing .column img {
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
}
.post-listing .column p {
	text-align: left;
	font-style: italic;
}

/* Use customized heading styles for "romantic" posts */

.romantic h3 {
	color: #8c0038;
	font-size: 3em;
	margin: 1em 0 .5em;
	text-align: center;
	font-family: 'Tangerine', cursive;
	clear: both;
}

.romantic h4 {
	font-size: 1.2em;
	font-weight: normal;
	margin: .5em 0 .5em;
	padding-bottom: .25em;
	border-bottom: 1px solid #8c0038;
	font-family: 'Gentium Basic', serif;
}
.romantic h4 a {
	text-decoration: none;
	color: #8c0038;
}
