@import url(http://fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Almendra:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Almendra+Display);
@import url(http://fonts.googleapis.com/css?family=Lancelot);
@import url(http://fonts.googleapis.com/css?family=Euphoria+Script);
@import url("fonts/nuptial.css");

/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag 
will be appended with the "custom" class, like so: <body class="custom">. You can use 
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the 
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/

/* Top Nav bar 
.custom ul#topnav {
border-style: none;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
background:#FDDFCB none repeat scroll 0 0;
width: 100%;
float: left;
}
.custom ul#topnav li { float: right; padding: 3px 10px 3px 0px; }
.custom ul#topnav li a { font-size: 1.2em; color: #000000; font-weight: bold;}
.custom ul#topnav li a:hover { text-decoration: underline; }
*/

/* Nav compact */
.custom ul.menu { border:none; }
	.custom ul.menu a { border:none; color:rgb(143,44,80); font-weight:bold; font-size:14px;letter-spacing:0px; text-transform:capitalize; background:none; }
        .custom ul.menu a:hover, .custom ul.menu .current a:hover { color:#666; }

/* Remove Uppercase */
.custom .headline_meta span,
 .custom .headline_meta abbr {
   text-transform: none;
}

.custom #my-search { float:left; width:550px; }

#footer {
	margin-bottom: 20px;
	border-top: 1px solid #867D5C;
}
#footer p {
	margin-top: 10px;
}
.custom form.search_form_visible #s {
    padding: 10px;
    width: 400px;
	float: left;
	font-size: 14px;
}

.custom #my-search input#searchsubmit.my-search {
    background: #867D5C;
    color: #fff;
    cursor: pointer;
    float: left;
    padding: 10px 20px;
    font-size: 14px;
}
.custom #my-search input#searchsubmit.my-search:hover {
	background-color: #776f52;
}	 

/* Teaser should take the entire width */
.custom .teaser {
    width: 100%;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px dotted #bbb;
    text-align: justify;
}

.custom .teasers_box {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0:
}

.custom .sidebar ul.sidebar_list {position: relative;}
.custom #header_widget_1 ul.sidebar_list li.widget {position: absolute; display: block; top:40px; left:600px; width:200px; }

/*Category page Introductory Headline & Content */
.custom #archive_intro h1 { 
    color: #8f2c50;
}
.custom #archive_intro {
    background: #FDDFCB;
}

/*Subscribe Box In Single Post*/
/*background: url(images/rss-subscribe.gif) no-repeat 30px center;margin:0 auto 20px auto;*/
#singlesubscribe {width:800px;height:30px;border:1px solid #ccc;padding:10px 0 10px 10px;background:#FDDFCB;text-align:center}
input.txt{background:#fff; padding:2px 0 0 15px !important; width: 220px; height: 21px;border:1px solid #8f2c50 !important;color:#8f2c50;position:relative;left:10px;top:3px;font-size:14px}
input.btn{background:#8f2c50;color:#fff;width:90px !important;height: 30px !important;margin:0 0 0 0 !important;border:none !important;font-weight:bold;position:relative;left:10px;top:3px;font-size:14px}





/* Change body font to Gentium */
body, input {
	font-family: 'Gentium Basic', serif;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 0.25px;
}

/* Add a clearfix hack class */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* consistent form styling */
input[type="text"] {
	background: none repeat scroll 0% 0% #FFF;
	border: 1px solid #867D56;
	font-size: 12px;
	margin: 0px 6px 0px 0px;
	padding: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.25);
}




/* Header */
#header {
	font-size: 1.4em;
	margin: 10px 0 0;
	padding: 0;
	line-height: 20px;
}
#header img {
	vertical-align: middle;
}
#header a {
	text-decoration: underline;
	color: #867D56;
}

#logo {
	float: left;
}

#newsletter-signup {
	float: left;
	width: 160px;
	margin: 10px 45px;
}
#newsletter-signup input[type="text"] {
	margin-right: 0;
	width: 128px;
}
#newsletter-signup input[type="image"] {
	display: inline;
	vertical-align: middle;
	border: 0;
	box-shadow: none;
}

#contact-cart {
	float: left;
	width: 250px;
	margin: 10px 0;
}



/* nav */
ul#main-nav {
	list-style-type: none;
	background: url(images/ribbon.jpg) no-repeat top center;
	height: 78px;
	text-align: center;
	clear: both;
}
ul#main-nav li {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;	
	text-align: center;
	font-size: 2em;
	line-height: .8em;
	font-family: "Nuptial";
	margin: 10px 0;
	width: 56px;
	vertical-align: middle;
	padding: 16px 18px 10px 10px;
	background: url(images/ribbon-stitch.jpg) no-repeat center right;
	position: relative;
}
ul#main-nav li:last-child {
	background: none;
}
ul#main-nav li a {
	color: #454d18;
	display: block;
}
ul#main-nav li:hover {
	text-shadow: 0px 0px 40px #fcf2c6, 0px 0px 20px #fcf2c6, 0px 0px 10px #fcf2c6, 0px 0px 5px #fcf2c6;
}
ul#main-nav li:hover > a {
	color: #2c310f;
}

ul#main-nav li.active {
	background: rgba(252, 242, 198, .3);
	box-shadow: 0px 0px 9px 10px rgba(252, 242, 198, .3);
	background: none;
	box-shadow: none;
}
ul#main-nav li.active > a {
	color: #767e49;
}

ul#main-nav li#shopby-tab:before {
	position: absolute;
	top: -6px;
	left: 0;
	width: 100%;
	height: 15px;
	content: '';
	display: block;
	background: url('images/crown.png') top center no-repeat;
}
ul#main-nav li#blog-tab {
	line-height: 1.9em;
	font-family: "Gentium Basic", sans-serif;
	text-transform: uppercase;
	font-size: 1.6em;
}



/* sub nav */
ul#main-nav ul {
	position: absolute;
	top: 55px;
	left: -10px;	
	border: 1px solid #c1b788;
	background: #ded3b5;
	display: none;
	min-width: 200px;
	z-index: 100;
}
ul#main-nav li#blog-tab ul {
	top: 54px;
}

ul#main-nav li:hover > ul, ul:hover {
	display: block;
}
ul#main-nav ul li {
	display: block;
	background: none;
	font-family: 'Gentium Basic', serif;
	font-size: 14px;
	text-transform: none;
	text-align: left;
	width: auto;
	height: auto;
	margin: 0;
	padding: 10px 10px;
	border-bottom: 1px dashed #fff;
}
ul#main-nav ul li:last-child {
	border-bottom: none;
}
ul#main-nav ul li:hover {
	text-shadow: none;
	background: rgba(255,255,255,.25);
}
ul#main-nav ul li:hover > a {
	color: #2c310f;
}

/* breadcrumbs */
.breadcrumbs {
	margin: 5px 30px;
	font-size: 12px;
}



/* Homepage */
.home-content {
    margin: -2em 1.2em 2.4em;
    font-size: 1.4em;
}
.home-content h2 {
	clear: both;
	line-height: 40px;
	position: relative;
	margin: 2.5em auto .75em;
	text-align: center;
	color: #93775F;
	font-size: 2.2em;
}
.home-content h2 a {
	display: inline;
}
.home-content h2:before, .home-content h2:after {
	content: '';
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 32px;
	width: 85px;
	background: url('images/header-vines.png');
}
.home-content h2:before {
	background-position: top left;
	margin-left: -50%;
}
.home-content h2:after {
	background-position: top right;
	margin-right: -50%;
}
.home-content p.tagline {
	text-align: center;
	font-style: italic;
	font-size: 1.1em;
	margin: -1em 0 2em;
}
.home-content h3 {
	background: #423C2A;
	border: 1px solid #FDF2F7;
	outline: 3px solid #423C2A;
	padding: 6px 2px;
	color: #FDF2F7;
	font-size: .95em;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0;
}
.home-content h3:before, .home-content h3:after {
	content: '\00b7';
	padding: 0 5px;
	display: inline;
}
.home-content h3 a {color: #FDF2F7;}


/* Category intros */
.category {
	width: 23.5%;
	margin: 1em 2% 4em 0;
	float: left;
	text-align: center;
}
.category:nth-of-type(4) {margin-right: 0;}
.category img {
	border-radius: 50%;
	background: #fff;
	padding: 6px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 75%;
	position: relative;
	z-index: 10;
}
.category h3 {
	display: block;
	margin: -.85em 0 1.25em;
	padding-top: .75em;
	padding-bottom: .5em;
}
.behind-the-scenes h3 {
	background-color: #a1414c;
	outline-color: #a1414c;
}
.customer-connection h3 {
	background-color: #77a2af;
	outline-color: #77a2af;
}
.design-resources h3 {
	background-color: #5b4c70;
	outline-color: #5b4c70;
}
.shopping-guides h3 {
	background-color: #838b64;
	outline-color: #838b64;
}
.category p {
	text-align: justify;
	font-style: italic;
}

/* Post listing boxes */
.post-list {
	float: left;
	box-sizing: border-box;
	width: 46%;
	margin: 0 4% 2em 0;
	padding: 1em;
	background: url('images/low_contrast_linen.png');
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
}
.post-list:last-of-type {
	margin-right: 0;
}
.post-list h3 {
	display: inline-block;
	margin: -.25em 0 0 -1.25em;
}
.post-preview {
	clear: both;
	margin: 1em 0;
}
.post-preview img {
	float: left;
	margin: 0 10px 5px 0;
	border-radius: 50%;
	background: #fff;
	padding: 4px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 100px;
	max-height: 100px;
}
.post-preview:nth-of-type(odd) img {
	float: right;
	margin: 0 0 5px 10px;
}
.post-preview h4 {
	margin: .25em 0 .5em 0;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: normal;
}
.post-preview h4 a {color: #423C2A;}
.post-preview p {font-style: italic;}





/* Post excerpts */
.post-excerpt {
	width: 48%;
	float: left;
	text-align: center;
}
.post-excerpt:nth-of-type(even) {
	clear: left;
	margin-right: 4%;
}
.post-excerpt img {
	box-sizing: border-box;
	margin: 0 10px 5px 0;
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 100%;
	height: auto;
}
.post-excerpt .post-meta {
	padding-right: 5px;
	padding-left: 5px;
}
.post-excerpt .post-meta:before, .post-excerpt .post-meta:after {
	padding: 0 5px;
}
.post-excerpt p {
	text-align: left;
}
.post-excerpt p.read-more {
	text-align: center;
}



/* Post headlines */
.headline_area {
	text-align: center;
}
h2.series-title {
	font-size: 2.6em;
	font-style: italic;
	background: #FEE6D6;
	color: #736d4f;
}
h2.series-title a {
	color: #736d4f;
}
h1.entry-title, h2.entry-title {
	font-size: 3em;
	line-height: 1.2em;
	margin: 0 auto 0;
}

.post-meta abbr, .post-meta a {
	color: #707956;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .8em;
	word-spacing: normal;
}
.post-meta {
	color: #8c927b;
	font-size: 1.5em;
	border-top: 1px solid #8c927b;
	border-bottom: 2px solid #8c927b;
	padding: .4em 10px;
	display: inline-block;
	margin: .75em auto 1em;
	font-style: italic;
	word-spacing: 3px;
}
.post-meta:before, .post-meta:after {
	content: '\2666';
	padding: 0 10px;
	display: inline;
}



/* Post footers */


/* Sharedaddy */
.sharedaddy {
	border-top: 1px solid #7D7556;
	border-bottom: 2px solid #7D7556;
	overflow: auto;
	padding: 5px 0;
}
.sharedaddy::after {
	clear: both;
	content: '';
	display: block;
}
.sharedaddy h3 {
	float: left;
	width: 30%;
	margin: 7px 0 0;
	font-size: 1em;
	font-style: italic;
}
.sd-content {
	float: left;
	width: 65%;
	margin-left: 5%;
}
.sd-content ul {margin: 0;}
.sd-content li {
	display: block;
	list-style-type: none;
	float: left;
	margin-top: 5px;
}
div.sharedaddy a.sd-button {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background: -moz-linear-gradient(center top , #F7F7F7 0%, #EFEFEF 100%) repeat scroll 0% 0% transparent;
    border-radius: 3px;
    border: 1px solid #DDD !important;
    box-shadow: 0px 1px 0px #FFF inset;
    color: #000 !important;
    text-decoration: none;
    line-height: 1;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}
div.sharedaddy a, div.sharedaddy a:link, div.sharedaddy a:visited {
    font-style: normal;
}
li.share-email {
	margin-right: 20px;
	margin-top: 3px;
}
li.share-email a.sd-button > span {
    background-image: url('../../../plugins/jetpack/modules/sharedaddy/images/email.png');
    padding-left: 24px;
}
.sd-social-icon-text a.sd-button > span, a.sd-button > span {
    padding: 1px 5px 1px 23px;
    background-position: 2px center;
    background-repeat: no-repeat;
}
a.sd-button > span {
    padding: 1px 8px;
    display: block;
    opacity: 0.8;
    line-height: 1.5em;
    text-shadow: none;
}


.post-tags {
	background: rgba(255, 255, 255, .3);
	padding: 4px 8px;
	color: #8c927b;
	font-size: 1em;
	margin: 2em auto 2.5em;
}
.post-tags span {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
}	
.post-tags a {
	margin: 0 5px;
	font-style: italic;
	text-transform: lowercase;
	text-decoration: none;
}


/* YARPP Related Posts */
.related-posts {
	clear: both;
}
.related-posts div {
	width: 30%;
	float: left;
	margin-right: 5%;
}
.related-posts div:nth-of-type(3) {
	margin-right: 0
}
.related-posts h4 {
	text-align: center;
}
.related-posts .inline-readmore {
	text-decoration: none;
	white-space: nowrap;
}






/* Customize appearance of post listings on parent or series page into grid structures */
.post-listing > p:first-of-type, .post-listing > p.intro {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #7D7556;
	margin: 2em 2em;
}
.post-listing > p:first-of-type:first-letter, .post-listing > p.intro:first-letter {
	font-family: 'Lancelot', cursive;
	font-size: 6em;
	line-height: 1em;
	margin: -.05em 4px 0 0;
	color: #7D7556;
	float: left;
	text-shadow: -4px 2px 0px #fff, -6px 4px 0px #676047;
}

/* default panel styles */
.panel {
	border-top: 1px solid #9e5374;
	border-bottom: 2px solid #9e5374;
	padding: 1em 2em .5em;
	margin: 1em 0 4em;
	background: rgba(255,255,255,.75);
}
.panel p {
	font-size: 1.2em;
	line-height: 1.5em;
	margin-top: 50px;
}
.panel p:first-letter {
	float: left;
	font-size: 4em;
	margin: 2px 2px 0 -4px;
	color: #93765e;
	font-weight: bold;
	font-family: 'Lancelot', cursive;
}
.panel .read-more {
	margin-top: 40px;
}


.post-listing::after {
	display: block;
	clear: both;
	content: '';
}
.post-listing .column {
	width: 47%;
	float: left;
	margin: 0 5% 2em 0;
	text-align: center;
}
.post-listing .column:nth-of-type(odd) {
	clear: left;
}
.post-listing .column:nth-of-type(even) {
	clear: none;
	margin-right: 0;
}

.post-listing h3 {
	clear: both;
}
.post-listing .section {
	margin: 20px 0 60px;
}
.post-listing .section::after {
	content: '';
	clear: both;
	width: 100%;
	display: block;
}

.post-listing .section img {
	float: left;
	margin-right: 40px;
}
.post-listing .section:nth-of-type(even) img {
	float: right;
	margin-right: 0;
	margin-left: 40px;
}

.post-listing .section p {
	font-size: 1.2em;
}


.post-listing .column img, .post-listing .section img, .child-post img, img.bordered, .related-posts img {
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 100%;
	box-sizing: border-box;
	height: auto;
}
img.wp-smiley, .child-post figure img {
	border: none;
	box-shadow: none;
	padding: 0;
	background: none;
}
.post-listing .column p {
	text-align: left;
	font-style: italic;
	font-size: 1.1em;
}

.post-listing h3 {
	clear: both;
	font-size: 1.8em;
	text-align: center;
	font-weight: normal;
	margin: .5em 0 1em;
	padding: 1em 0 .5em 0;
}
.post-listing h3 a {
	text-decoration: none;
}
.read-more, .post-listing .column .read-more {
	text-align: center;
	font-style: normal;
}
.read-more a {
	display: inline-block;
	background: #A15928;
	margin: 0 auto;
	padding: 5px 20px;
	border: 1px solid #482812;
	color: #482812; 
	text-decoration: none;
	font-size: .8em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 0 0 4px #fff, 1px 1px 2px 4px rgba(0,0,0,.25);
}
.read-more a::before {
	content: '\2022';
	padding-right: 10px;
}
.read-more a::after {
	content: '\BB';
	padding-left: 10px;
}
.read-more a:hover {
	color: #fff;
	background: #482812;
}

.post-listing h4, .child-post h4, .related-posts h4 {
	font-size: 1.2em;
	font-weight: normal;
	margin: .5em 0 .5em;
	padding-bottom: .25em;
	border-bottom: 1px solid #A15928;
}
.post-listing h4 a, .related-posts h4 a {
	text-decoration: none;
}
.post-listing h4 strong {
	white-space: nowrap;
}



/* Classes for figure elements */
figure {
	float: left;
	margin-right: 50px;
}
figure img {
	max-width: 280px;
	height: auto;
}
figure .circular {
	border-radius: 50%;
}
figcaption {
	text-align: center;
	font-style: italic;
}


/* Sourcing boxes */
.sourcing {
	background: rgba(255,255,255,.25);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,.125);
	font-size: .8em;
	margin: 0 4em 1em;
	padding: 1em 1em .25em;
	text-align: center;
}
.sourcing h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	border-bottom: 1px solid #7D7556;
	margin: 0 2em .5em;
}
.sourcing ol {
	text-align: center;
	counter-reset: sources 0;
}
.sourcing ol li::before {
	content: counter(sources) ".";
    counter-increment: sources;
    margin-right: 5px;
}
.sourcing ol li {
	display: inline;
	margin: 0 10px 0 10px;
	white-space: nowrap;
}
.sourcing::after {
	clear: both;
	content: '';
	display: block;
}

/* post columns */

section.threecol, section.twocol {
	clear: both;
	margin-bottom: 2em;
}
.twocol .col {
	width: 50%;
	float: left;
}
.threecol .col {
	width: 31.33333%;
	float: left;
	margin-right: 3%;
}
.threecol .col:nth-of-type(3n) {
	margin-right: 0;
}
.fourcol .col {
	width: 23.5%;
	float: left;
	margin-right: 2%;
}
.fourcol .col:nth-of-type(4n) {
	margin-right: 0;
}
.fivecol .col {
	width: 18.4%;
	float: left;
	margin-right: 2%;
}
.fivecol .col:nth-of-type(5n) {
	margin-right: 0;
}
.col {
	text-align: center;
}
.col h4 {
	text-align: center;
	border-bottom: 0;
	font-size: 1.1em;
	margin: 0;
}
p.float-left {
	width: 40%;
	float: left;
	margin-right: 3%;
	margin-bottom: 3%;
}
p.float-left + h3 {
	clear: none;
	margin-top: 2em;
}
section::after {
	width: 100%;
	content: '';
	display: block;
	clear: both;
}





/* Use custom styles for "Mother's Day" posts */

.mothers-day > p:first-of-type:first-letter, .mothers-day > p.intro:first-letter, p.float-left + h3 + p:first-letter {
	font-family: 'Euphoria Script', cursive;
	color: #8c0038;
	text-shadow: none;
	font-size: 5.6em;
	margin-top: -.1em;
	margin-right: .1em;
	float: left;
}
.mothers-day a {
	color: #8c0038;
}
.mothers-day .panel {
	background: url('images/damask.png');
	border-color: #93765e;
	font-size: 1.2em;
	line-height: 1.6em;
}
.mothers-day .panel p {
	margin-top: 75px;
}
.mothers-day .panel p:first-letter {
	font-size: 4em;
	color: #93765e;
	font-family: 'Euphoria Script', cursive;
}
.mothers-day figure img {
	max-width: 240px;
	margin-top: 1em;
}
.mothers-day.child-post figure img {
	max-width: 150px;
}
.mothers-day.child-post .panel p {
	margin-top: 50px;
}

.mothers-day h3 {
	color: #93765e;
	font-size: 2.4em;
	margin: 1em 0 .5em;
	text-align: center;
	font-family: 'Euphoria Script', cursive;
	clear: both;
}
.post-listing .mothers-day h4 {
	border-color: #8c0038;
}
.mothers-day h4 a, .mothers-day h4 {
	color: #8c0038;
}
.mothers-day .read-more a {
	color: #93765e;
	background: url('images/lace-strip.png') no-repeat;
	width: 150px;
	height: 25px;
	box-shadow: none;
	padding: 8px 0;
	border: none;
}




/* Use custom styles for "romantic" posts */
.romantic h3 {
	color: #8c0038;
	font-size: 3em;
	margin: 1em 0 .5em;
	text-align: center;
	font-family: 'Tangerine', cursive;
	clear: both;
}
.romantic h4 {
	border-color: #8c0038;
}
.romantic h4 a {
	color: #8c0038;
}



/* Use custom styles for "Sultan's Palace" posts */

.sultans-palace > p:first-of-type, .sultans-palace > p.intro {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #a45f2f;
	margin: 2em 2em;
}
.sultans-palace > p:first-of-type:first-letter, .sultans-palace > p.intro:first-letter {
	color: #a45f2f;
	font-size: 6em;
	font-family: 'Almendra', cursive;
}
.sultans-palace > p, .sultans-palace .panel p {
	margin-top: 1em;
}
.sultans-palace > p:first-letter, .sultans-palace .panel p:first-letter {
	font-family: 'Almendra', cursive;
	font-size: 4em;
	margin: -.05em 4px -.1em 0;
	color: #9e5374;
	float: left;
}
.sultans-palace .panel {
	border-top: 1px solid #9e5374;
	border-bottom: 2px solid #9e5374;
	padding: 1em 2em .5em;
	margin: 1em 0 4em;
	background: #fff url('images/quatrefoil.png');
}


.sultans-palace h3 {
	font-family: 'Almendra', cursive;
}
.sultans-palace h3 a {
	color: #4e2e5f;
}

.sultans-palace h4 {
	border-color: #32245f;
}
.sultans-palace h4, .sultans-palace h4 a {
	color: #32245f;
}

.sultans-palace .read-more a {
	background: #90afcc;
	border-color: #4e2e5f;
	color: #4e2e5f;
}
.sultans-palace .read-more a:hover {
	background: #738ca3;
	border-color: #fff;
	color: #fff;
}


