@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Lancelot);
@import url(http://fonts.googleapis.com/css?family=Almendra:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Almendra+Display);
@import url("fonts/nuptial.css");
@import url("fonts/icons.css");

/*
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:

If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag
will be appended with the "custom" class, like so: <body class="custom">. You can use
the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the
following declarations to this file:

	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:

By using the "custom" class, you are creating more specific CSS declarations for HTML
elements. CSS styling is applied through rules of specificity, and because declarations
prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found
in the User's Guide:
	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/

/* Top Nav bar
.custom ul#topnav {
border-style: none;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
background:#FDDFCB none repeat scroll 0 0;
width: 100%;
float: left;
}
.custom ul#topnav li { float: right; padding: 3px 10px 3px 0px; }
.custom ul#topnav li a { font-size: 1.2em; color: #000000; font-weight: bold;}
.custom ul#topnav li a:hover { text-decoration: underline; }
*/

/* Nav compact */
.custom ul.menu { border:none; }
	.custom ul.menu a { border:none; color:rgb(143,44,80); font-weight:bold; font-size:14px;letter-spacing:0px; text-transform:capitalize; background:none; }
        .custom ul.menu a:hover, .custom ul.menu .current a:hover { color:#666; }

/* Remove Uppercase */
.custom .headline_meta span,
 .custom .headline_meta abbr {
   text-transform: none;
}


#footer {
	margin-bottom: 20px;
	border-top: 1px solid #867D5C;
}

#footer p {
	margin-top: 10px;
}


/* Teaser should take the entire width */
.custom .teaser {
    width: 100%;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px dotted #bbb;
    text-align: justify;
}

.custom .teasers_box {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0:
}

.custom .sidebar ul.sidebar_list {position: relative;}
.custom #header_widget_1 ul.sidebar_list li.widget {position: absolute; display: block; top:40px; left:600px; width:200px; }

/*Category page Introductory Headline & Content */
.custom #archive_intro h1 {
    color: #8f2c50;
}
.custom #archive_intro {
    background: #FDDFCB;
}

/*Subscribe Box In Single Post*/
/*background: url(images/rss-subscribe.gif) no-repeat 30px center;margin:0 auto 20px auto;*/
#singlesubscribe {width:800px;height:30px;border:1px solid #ccc;padding:10px 0 10px 10px;background:#FDDFCB;text-align:center}
input.txt{background:#fff; padding:2px 0 0 15px !important; width: 220px; height: 21px;border:1px solid #8f2c50 !important;color:#8f2c50;position:relative;left:10px;top:3px;font-size:14px}
input.btn{background:#8f2c50;color:#fff;width:90px !important;height: 30px !important;margin:0 0 0 0 !important;border:none !important;font-weight:bold;position:relative;left:10px;top:3px;font-size:14px}





/* Change body font to Gentium */
body, input {
	font-family: 'Gentium Basic', serif;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke: 0.25px;
}

/* Ensure headings don't get underlined */
.format_text h1 a, .format_text h2 a, .format_text h3 a, .format_text h4 a, .format_text h5 a { text-decoration: none; }

/* Add a clearfix hack class */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Style list items */
.entry-content ol,
.entry-content ul {
	margin: 0 0 3em;
}
.entry-content ol li,
.entry-content ul li {
	list-style-position: inside;
	margin: .5em 0;
}

/* Use consistent styling for images */
.entry-content img, .section img, figure img, img.bordered, .related-posts img, .subcategory img, .promotion img {
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 100%;
	box-sizing: border-box;
	height: auto;
	margin: 0 auto;
}

img.wp-smiley, img.borderless {
	border: none;
	box-shadow: none;
	padding: 0;
	background: none;
}

.entry-content td img {
    max-width: none;
}

/* Styling for tiled galleries */
.tiled-gallery {
	padding: 10px;
	background: #fff;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	text-align: center;
	max-width: 670px;
	margin: 0 auto 20px !important;
}
.tiled-gallery.type-rectangular {
	max-width: 500px;
}
.tiled-gallery-caption {
	font-style: italic;
}


/* consistent form styling */
input[type="text"] {
	background: none repeat scroll 0% 0% #FFF;
	border: 1px solid #867D56;
	font-size: 12px;
	margin: 0px 6px 0px 0px;
	padding: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.25);
}


/* Blockquotes */
.format_text blockquote {
	border-left: 0;
	margin: 2em 0;
	font-size: 1.2em;
	color: #968877;
	font-style: italic;
	line-height: 1.6;
	position: relative;
	z-index: 1000;
}

.format_text blockquote:before {
	color: #CCBFB0;
	content: "“";
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 121px;
	font-style: normal;
	opacity: 0.4;
	position: absolute;
	top: -50px;
	left: -20px;
	z-index: -1;
}

.format_text blockquote cite {
	font-style: normal;
	text-transform: uppercase;
	font-size: .75em;
	letter-spacing: 1px;
}

.format_text blockquote cite:before {
	content: '\2014';
	display: inline-block;
}

.format_text cite a { text-decoration: none; }


/* Header */
#header {
	font-size: 1.4em;
	margin: 10px 0 0;
	padding: 0;
	line-height: 20px;
}
#header img {
	vertical-align: middle;
}
#header a {
	text-decoration: underline;
	color: #867D56;
}

#logo {
	float: left;
}

#newsletter-signup {
	float: left;
	width: 160px;
	margin: 10px 45px;
}
#newsletter-signup input[type="text"] {
	margin-right: 0;
	width: 128px;
}
#newsletter-signup input[type="image"] {
	display: inline;
	vertical-align: middle;
	border: 0;
	box-shadow: none;
}

#contact-cart {
	float: left;
	width: 250px;
	margin: 10px 0;
}



/* nav */
ul#main-nav {
	list-style-type: none;
	background: url(images/ribbon.jpg) no-repeat top center;
	height: 78px;
	text-align: center;
	clear: both;
}
ul#main-nav li {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	text-align: center;
	font-size: 2em;
	line-height: 0.8;
	font-family: "Nuptial";
	margin: 10px 0;
	width: 56px;
	vertical-align: middle;
	padding: 16px 18px 10px 10px;
	background: url(images/ribbon-stitch.jpg) no-repeat center right;
	position: relative;
}
ul#main-nav li:last-child {
	background: none;
}
ul#main-nav li a {
	color: #454d18;
	display: block;
}
ul#main-nav li:hover {
	text-shadow: 0px 0px 40px #fcf2c6, 0px 0px 20px #fcf2c6, 0px 0px 10px #fcf2c6, 0px 0px 5px #fcf2c6;
}
ul#main-nav li:hover > a {
	color: #2c310f;
}

ul#main-nav li.active {
	background: rgba(252, 242, 198, .3);
	box-shadow: 0px 0px 9px 10px rgba(252, 242, 198, .3);
	background: none;
	box-shadow: none;
}
ul#main-nav li.active > a {
	color: #767e49;
}

ul#main-nav li#shopby-tab:before {
	position: absolute;
	top: -6px;
	left: 0;
	width: 100%;
	height: 15px;
	content: '';
	display: block;
	background: url('images/crown.png') top center no-repeat;
}
ul#main-nav li#blog-tab {
	line-height: 1.9;
	font-family: "Gentium Basic", sans-serif;
	text-transform: uppercase;
	font-size: 1.6em;
}



/* sub nav */
ul#main-nav ul {
	position: absolute;
	top: 55px;
	left: -10px;
	border: 1px solid #c1b788;
	background: #ded3b5;
	display: none;
	min-width: 200px;
	z-index: 100;
}
ul#main-nav li#blog-tab ul {
	top: 54px;
}

ul#main-nav li:hover > ul, ul:hover {
	display: block;
}
ul#main-nav ul li {
	display: block;
	background: none;
	font-family: 'Gentium Basic', serif;
	font-size: 14px;
	text-transform: none;
	text-align: left;
	width: auto;
	height: auto;
	margin: 0;
	padding: 10px 10px;
	border-bottom: 1px dashed #fff;
}
ul#main-nav ul li:last-child {
	border-bottom: none;
}
ul#main-nav ul li:hover {
	text-shadow: none;
	background: rgba(255,255,255,.25);
}
ul#main-nav ul li:hover > a {
	color: #2c310f;
}

/* breadcrumbs */
.breadcrumbs-and-search {
	position: relative;
}

.breadcrumbs {
	margin: 5px 30px;
	font-size: 12px;
}

/* Search bar */
.search-box {
	position: absolute;
	right: 0;
	top: -10px;
}

.homepage .search-box {
	top: -5px; /* Corrects placement for homepage, where there are no breadcrumbs */
}

.icon-search {
	display: inline-block;
	font-size: 24px;
	margin-right: 20px;
	vertical-align: bottom;
}

.searchform {
	display: inline-block;
}

.screen-reader-text {
	position: absolute;
	left: -9999px;
}

#s {
	width: 0;
	font-size: 14px;
	padding: 10px 10px;
  -webkit-transition: all 0.125s;
  -moz-transition: all 0.125s;
  -ms-transition: all 0.125s;
  -o-transition: all 0.125s;
  transition: all 0.125s;
  opacity: 0;
  overflow: hidden;
}

#s.open {
	width: 250px;
  opacity: 1;
}

#searchsubmit {
	display: none;
}



/* Homepage */
.home-content {
    margin: -2em 1.2em 2.4em;
    font-size: 1.4em;
}
.home-content h2 {
	clear: both;
	line-height: 40px;
	position: relative;
	margin: 2.5em auto .75em;
	text-align: center;
	color: #93775F;
	font-size: 2.2em;
}
.home-content h2 a {
	display: inline;
}
.home-content h2:before, .home-content h2:after {
	content: '';
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 32px;
	width: 85px;
	background: url('images/header-vines.png');
}
.home-content h2:before {
	background-position: top left;
	margin-left: -50%;
}
.home-content h2:after {
	background-position: top right;
	margin-right: -50%;
}
.home-content p.tagline {
	text-align: center;
	font-style: italic;
	font-size: 1.1em;
	margin: -1em 0 2em;
}
.home-content h3 {
	background: #423C2A;
	border: 1px solid #FDF2F7;
	outline: 3px solid #423C2A;
	padding: 6px 2px;
	color: #FDF2F7;
	font-size: .95em;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0;
}
.home-content h3:before, .home-content h3:after {
	content: '\00b7';
	padding: 0 5px;
	display: inline;
}
.home-content h3 a {color: #FDF2F7;}


/* Category intros */
.category {
	width: 23.5%;
	margin: 1em 2% 4em 0;
	float: left;
	text-align: center;
}
.category:nth-of-type(4) {margin-right: 0;}
.category img {
	border-radius: 50%;
	background: #fff;
	padding: 6px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 75%;
	position: relative;
	z-index: 10;
}
.homepage .category h3 {
	display: block;
	margin: -.85em 0 1.25em;
	padding-top: .75em;
	padding-bottom: .5em;
}
.homepage .behind-the-curtain h3 {
	background-color: #a1414c;
	outline-color: #a1414c;
}
.homepage .customer-love h3 {
	background-color: #77a2af;
	outline-color: #77a2af;
}
.homepage .design-resources h3 {
	background-color: #5b4c70;
	outline-color: #5b4c70;
}
.homepage .shopping-guides h3 {
	background-color: #838b64;
	outline-color: #838b64;
}
.homepage .category p {
	text-align: justify;
	font-style: italic;
}

/* Featured series on homepage */
.featured-series {font-size: 1.1em;}

/* Post listing boxes */
.post-list {
	float: left;
	box-sizing: border-box;
	width: 46%;
	margin: 0 4% 2em 0;
	padding: 1em;
	background: url('images/low_contrast_linen.png');
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
}
.post-list:last-of-type {
	margin-right: 0;
}
.post-list h3 {
	display: inline-block;
	margin: -.25em 0 0 -1.25em;
}
.post-preview {
	clear: both;
	margin: 1em 0;
}
.post-preview img {
	float: left;
	margin: 0 10px 5px 0;
	border-radius: 50%;
	background: #fff;
	padding: 4px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 100px;
	max-height: 100px;
}
.post-preview:nth-of-type(odd) img {
	float: right;
	margin: 0 0 5px 10px;
}
.post-preview h4 {
	margin: .25em 0 .5em 0;
	font-size: 1.5em;
	line-height: 1;
	font-weight: normal;
}
.post-preview h4 a {color: #423C2A;}
.post-preview p {font-style: italic;}





/* Post excerpts */
.post-excerpt {
	width: 48%;
	float: left;
	text-align: center;
}
.post-excerpt:nth-of-type(odd) {
	clear: left;
	margin-right: 4%;
}
.post-excerpt img {
	box-sizing: border-box;
	margin: 0 10px 5px 0;
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	max-width: 100%;
	height: auto;
}
.post-excerpt .post-meta {
	padding-right: 5px;
	padding-left: 5px;
}
.post-excerpt .post-meta:before, .post-excerpt .post-meta:after {
	padding: 0 5px;
}
.post-excerpt p {
	text-align: left;
}
.post-excerpt p.read-more {
	text-align: center;
}

/* Alternate post excerpt style */
.post-excerpt-alt {
	clear: both;
	margin-top: 40px;
}
.post-excerpt-alt:after {
	width: 100%;
	clear: both;
	display: block;
	content: '';
}
.post-excerpt-alt img {
	float: left;
	box-sizing: border-box;
	margin: 0 20px 5px 0;
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	width: 30%;
	height: auto;
}
.post-excerpt-alt:nth-of-type(odd) img { float: right; }
.post-excerpt-alt .format_text {
	float: left;
	width: 65%;
	padding-top: 10px;
}
.post-excerpt-alt .tags {
	font-style: italic;
	font-size: .85em;
	line-height: 1.4;
}
.post-excerpt-alt .tags span {
	font-style: normal;
	font-size: .9em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.post-excerpt-alt .tags a { text-decoration: none; }
.post-excerpt-alt .tags strong {
	font-weight: bold;
	background: #edcfba;
	padding: 2px 5px;
}

/* Search result page */
.search-results .no-results {
	margin: 50px 0;
	text-align: center;
}

.search-results h1 {
	margin-bottom: 20px;
}

.search-term {
	background: rgba(255, 255, 255, 0.75);
	font-weight: bolder;
}



/* CATEGORY ARCHIVES */

/* Intro panel */
.category-intro {
	margin: 3em 0 4em 0;
	text-align: left;
}
.category-intro:after {
	display: block;
	content: '';
	clear: both;
}
.category-intro img {
	float: left;
	width: 25%;
	border-radius: 50%;
	background: #fff;
	padding: 8px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
}
.category-intro div {
	float: left;
	width: 70%;
	margin-left: 3%;
}
.category-intro h1 {
	margin: 0 0 1em;
	text-align: center;
	font-size: 3em;
}
.category-intro i {
	display: inline-block;
	margin: -8px 5px;
	height: .8em;
	vertical-align: top;
	opacity: .25;
	font-size: 1.8em;
}

.category-intro p {
	font-size: 1.6em;
	line-height: 1.8;
}

/* Category colour-coding */
.category-intro.behind-the-curtain h1, .behind-the-curtain a h2, .behind-the-curtain .prev_next a, .behind-the-curtain .post-excerpt p:not(.read-more) a { color: #a1414c; }
.behind-the-curtain .read-more a { background-color: #a1414c; }

.category-intro.customer-love h1, .customer-love a h2, .customer-love .prev_next a, .customer-love .post-excerpt p:not(.read-more) a { color: #77a2af; }
.customer-love .read-more a { background-color: #77a2af; }

.category-intro.design-resources h1, .design-resources a h2, .design-resources .prev_next a, .design-resources .post-excerpt p:not(.read-more) a { color: #5b4c70; }
.design-resources .read-more a { background-color: #5b4c70; }

.category-intro.shopping-guides h1, .shopping-guides a h2, .shopping-guides .prev_next a, .shopping-guides .post-excerpt p:not(.read-more) a { color: #838b64; }
.shopping-guides .read-more a { background-color: #838b64; }


/* Subcategory blocks (Shopping Guide parent) */
.subcategory {
	display: block;
	position: relative;
	width: 100%;
	height: 300px;
	margin: 20px 0;
	background: #fff;
	border: 10px solid #fff;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0;
}
.subcategory a.div-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.subcategory h2 {
	position: absolute;
	left: -25px;
	top: 15px;
	padding: 10px 14px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
	font-size: 2.4em;
	color: #fff;
}
.subcategory .badge {
	position: absolute;
	top: 20px;
	right: -50px;
	width: 100px;
	height: 100px;
	background: none;
	box-shadow: none;
}
.subcategory .read-more {
	position: absolute;
	bottom: 25px;
	right: 25px;
}
.subcategory .read-more a {
	padding: 10px 30px;
	font-size: 1.4em;
	color: #fff;
}

.subcategory.holidays h2, .subcategory.holidays .read-more a { background-color: #1f2566; }
.subcategory.holidays:hover h2, .subcategory.holidays:hover .read-more a { background-color: #171b4d; }
.subcategory.holidays { background-image: url('series/holidays/holidays-title-image.jpg'); }

.subcategory.valentines-day h2, .subcategory.valentines-day .read-more a { background-color: #7d0b25; }
.subcategory.valentines-day:hover h2, .subcategory.valentines-day:hover .read-more a { background-color: #5e081c; }
.subcategory.valentines-day { background-image: url('series/valentines-day/valentines-day-title-image.jpg'); }

.subcategory.back-to-school h2, .subcategory.back-to-school .read-more a { background-color: #233367; }
.subcategory.back-to-school:hover h2, .subcategory.back-to-school:hover .read-more a { background-color: #1a264e; }
.subcategory.back-to-school { background-image: url('series/back-to-school/back-to-school-title-image.jpg'); }

.subcategory.mothers-day h2, .subcategory.mothers-day .read-more a { background-color: #714926; }
.subcategory.mothers-day:hover h2, .subcategory.mothers-day:hover .read-more a { background-color: #58391d; }
.subcategory.mothers-day { background-image: url('series/mothers-day/mothers-day-title-image.jpg'); }

.subcategory.summer h2, .subcategory.summer .read-more a { background-color: #304f64; }
.subcategory.summer:hover h2, .subcategory.summer:hover .read-more a { background-color: #253d4d; }
.subcategory.summer { background-image: url('series/summer/summer-title-image.jpg'); }

.subcategory.spring-decorating h2, .subcategory.spring-decorating .read-more a { background-color: #45814b; }
.subcategory.spring-decorating:hover h2, .subcategory.spring-decorating:hover .read-more a { background-color: #37693c; }
.subcategory.spring-decorating { background-image: url('series/spring-decorating/spring-decorating-title-image.jpg'); }

.subcategory.fall h2, .subcategory.fall .read-more a { background-color: #bd6233; }
.subcategory.fall:hover h2, .subcategory.fall:hover .read-more a { background-color: #a2542c; }
.subcategory.fall { background-image: url('series/fall/fall-title-image.jpg'); }

.subcategory.thanksgiving h2, .subcategory.thanksgiving .read-more a { background-color: #466545; }
.subcategory.thanksgiving:hover h2, .subcategory.thanksgiving:hover .read-more a { background-color: #354d34; }
.subcategory.thanksgiving { background-image: url('series/thanksgiving/thanksgiving-title-image.jpg'); }


/* Category expander (Design Resources parent) */
body.design-resources { overflow-x: hidden; }
.subcategory-expander-link {
	display: inline-block;
	background: #e6e0c9 url('images/seamless-paper-texture.jpg');
	border-bottom: 2px solid #e6e0c9;
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.15);
	box-shadow: 0 -1px 3px rgba(0,0,0,.15);
	padding: 10px 15px;
	font-size: 1.4em;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #5b4e1a;
	clip:rect(0px, 210px, 37px, 0px);
	position: absolute;
	margin: -16px 0 20px 0;
	z-index: 400;
}
.subcategory-expander-link i {
	display: inline-block;
	background: #fff8dc;
	border-radius: 50%;
	border: 1px solid #5b4e1a;
	color: #5b4e1a;
	font-size: 1.1em;
	padding-top: 1px;
	margin-right: 7px;
	height: 14px;
	width: 15px;
	text-align: center;
	vertical-align: top;
}
.subcategory-expander {
	width: 300%;
	position: relative;
	top: 20px;
	min-height: 10px;
	margin: 2em -100% 6em;
	background: #e6e0c9 url('images/seamless-paper-texture.jpg');
	background-size: 200px 200px;
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.15);
	box-shadow: 0 -1px 3px rgba(0,0,0,.15);
	border-bottom: 1px solid #5a4e1a;
	font-size: 1.4em;
	line-height: 1.8;
}
.subcategory-expander:after {
	display: block;
	clear: both;
	content: '';
}
.subcategory-expander div {
	margin: 0 auto;
	width: 33%;
}
.subcategory-expander section {
	float: left;
	margin: 1em .25em 0;
}
.subcategory-expander section:first-of-type {
	margin-right: 3em;
}
.subcategory-expander h2 {
	padding: .25em;
	border-bottom: 1px solid #cec6a9;
	color: #5a4e1a;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2em;
}
.subcategory-expander h2 i {
	display: inline-block;
	margin-bottom: -2px;
	margin-right: 5px;
	vertical-align: bottom;
	font-size: 1.4em;
}
.subcategory-expander ul {
	float: left;
	width: 190px;
	list-style-type: none;
	margin: 1em 0;
}
.subcategory-expander li {
	color: #5b4e1a;
	margin: 4px 0;
}


/* Post headlines */
.headline_area {
	text-align: center;
}
h2.series-title {
	font-size: 2.6em;
	font-style: italic;
	background: #FEE6D6;
	color: #736d4f;
}
h2.series-title a {
	color: #736d4f;
}
h1.entry-title, h2.entry-title {
	font-size: 3em;
	line-height: 1.2;
	margin: 0 auto 0;
}

.post-meta abbr, .post-meta a {
	color: #707956;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .8em;
	word-spacing: normal;
}
.post-meta {
	color: #8c927b;
	font-size: 1.5em;
	border-top: 1px solid #8c927b;
	border-bottom: 2px solid #8c927b;
	padding: .4em 10px;
	display: inline-block;
	margin: .75em auto 1em;
	font-style: italic;
	word-spacing: 3px;
}
.post-meta:before, .post-meta:after {
	content: '\2666';
	padding: 0 10px;
	display: inline;
}



/* Emphasis on first paragraph */
.single-post .entry-content > p:first-of-type,
p.intro,
.featured-series > p:first-of-type {
	font-size: 1.4em;
	line-height: 1.4;
	color: #7D7556;
	margin: 2em 2em;
}

/* Drop caps should only be automatically applied if there isn't a series set */
/*
.single-post .entry-content > p:first-of-type:first-letter,
p.intro:first-letter, .featured-series p:first-of-type:first-letter {
	font-family: 'Lancelot', cursive;
	font-size: 6em;
	line-height: 1;
	margin: -.05em 4px 0 0;
	color: #7D7556;
	float: left;
	text-shadow: -4px 2px 0px #fff, -6px 4px 0px #676047;
}

.panel p:first-of-type:first-letter {
	float: left;
	font-size: 3.5em;
	margin: 2px 2px 0 -4px;
	color: #93765e;
	font-weight: bold;
	font-family: 'Lancelot', cursive;
}
*/


/* Panel elements */
.panel {
	border-top: 1px solid #9e5374;
	border-bottom: 2px solid #9e5374;
	padding: 2em 2em .5em;
	margin: 1em 0 4em;
	background: rgba(255,255,255,.75);
	box-sizing: border-box;
}

.panel figure, .panel figure:not(.col) {
    float: left;
    margin: 0 50px 0 0;
}

.panel figure img {
    max-width: 280px;
    height: auto;
}

figure .circular {
    border-radius: 50%;
    border-width: 4px;
}

.panel p {
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 50px;
}

.panel .read-more {
	margin: 30px auto 20px;
	font-size: 1em;
}

.panel .read-more a {
	line-height: 1.4;
	padding: 8px 20px;
}

.panel .read-more a:before,
.panel .read-more a:after {
	display: none;
}

.panel .read-more a span {
	display: block;
}

.panel .read-more .pre:before,
.panel .read-more .pre:after {
	content: "•";
	display: inline;
	padding: 5px;
}

.panel .read-more .title {
	font-size: 1.5em;
	letter-spacing: 0;
	text-transform: none;
}

.panel .read-more .title:after {
	content: "»";
	display: inline;
	padding-left: 5px;
}

.panel h3 a { text-decoration: none; }

/* Adjust a bit for two items in panel */
.panel.twofig figure {
	margin: 20px 0 10px 0;
}

.panel.twofig figure:first-of-type {
	margin-left: -50px;
}

.panel.twofig figure:last-of-type {
	margin-right: -50px;
}

.panel.twofig figure img.circular {
	border-width: 2px !important;
	max-width: 200px;
}

.panel.twofig p {
	float: left;
	margin: 20px 6px 20px 30px;
	width: 400px;
}

/* Multi-sectioned parent posts */
.parent-expander-link:after, .parent-expander-link:before { display: none; }
.read-more .parent-expander-link { padding: 8px 20px 8px 25px; }
.parent-expander-link i {
	font-size: 1.5em;
	line-height: 0.3;
	display: inline-block;
	margin-top: 3px;
	vertical-align: top;
}
section.expander { display: none; }

/* Updated tags for individual posts within parents */
.parent-post .updated {
	position: relative;
}

.parent-post .updated:after {
	display: block;
	content: '';
	position: absolute;
	top: 20px;
	left: -30px;
	width: 71px;
	height: 71px;
	background: url('images/updated-for-2015.png') no-repeat;
	box-shadow: none;
	z-index: 1000;
}

/* Post footers */

/* Series navigation */
.series-navigation { padding-top: 0; }
.next-post, .previous-post, .all-posts {
	width: 25%;
	float: left;
	line-height: 1.2;
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .8em;
}

.previous-post {
	margin-right: 1%;
	text-align: left;
}

.next-post {
	margin-left: 1%;
	text-align: right;
}

.all-posts {
	width: 48%;
	text-align: center;
}
.next-post a, .previous-post a, .all-posts a { text-decoration: none; }

/* Sharedaddy */
.sharedaddy {
	border-top: 1px solid #7D7556;
	border-bottom: 2px solid #7D7556;
	overflow: auto;
	padding: 5px 0;
}
.sharedaddy::after {
	clear: both;
	content: '';
	display: block;
}
.sharedaddy h3 {
	float: left;
	width: 30%;
	padding: 0;
	margin: 4px 0 0;
	font-size: 1em;
	font-style: italic;
}
.sharedaddy img {
	border: 0;
	box-shadow: none;
}
.sd-content {
	float: left;
	width: 65%;
	margin-left: 5%;
}
.sd-content ul {margin: 0;}
.sd-content li {
	display: block;
	list-style-type: none;
	float: left;
	margin-top: 5px;
}
div.sharedaddy a.sd-button {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  background: -moz-linear-gradient(center top , #F7F7F7 0%, #EFEFEF 100%) repeat scroll 0% 0% transparent;
  border-radius: 3px;
  border: 1px solid #DDD !important;
  box-shadow: 0px 1px 0px #FFF inset;
  color: #000 !important;
  text-decoration: none;
  line-height: 1;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
}
div.sharedaddy a, div.sharedaddy a:link, div.sharedaddy a:visited {
  font-style: normal;
}
div.sharedaddy .share-custom a.sd-button {
	background: #fff;
	text-indent: 20px;
	margin-left: 20px;
	margin-top: -5px;
}
li.share-email {
	margin-right: 20px;
	margin-top: 3px;
}
li.share-email a.sd-button > span {
  background-image: url('../../../plugins/jetpack/modules/sharedaddy/images/email.png');
  padding-left: 24px;
}
.sd-social-icon-text a.sd-button > span, a.sd-button > span {
  padding: 1px 5px 1px 23px;
  background-position: 2px center;
  background-repeat: no-repeat;
}
a.sd-button > span {
  padding: 1px 8px;
  display: block;
  opacity: 0.8;
  line-height: 1.5;
  text-shadow: none;
}


.post-tags {
	background: rgba(255, 255, 255, .3);
	padding: 4px 8px;
	color: #8c927b;
	font-size: 1em;
	margin: 2em auto 2.5em;
}
.post-tags span {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
}
.post-tags a {
	margin: 0 5px;
	font-style: italic;
	text-transform: lowercase;
	text-decoration: none;
}


/* YARPP Related Posts */
.related-posts {
	clear: both;
}
.related-posts div {
	width: 30%;
	float: left;
	margin-right: 5%;
}
.related-posts div:nth-of-type(3) {
	margin-right: 0
}
.related-posts h3 {
	text-align: left;
}
.related-posts h4 {
	text-align: center;
}
.related-posts .inline-readmore {
	text-decoration: none;
	white-space: nowrap;
}






.column {
	width: 47%;
	float: left;
	margin: 0 5% 2em 0;
	text-align: center;
}
.column:nth-of-type(odd) {
	clear: left;
}
.column:nth-of-type(even) {
	clear: none;
	margin-right: 0;
}
.column h3 {
	clear: both;
}


.section {
	margin: 20px 0 60px;
}
.section::after {
	content: '';
	clear: both;
	width: 100%;
	display: block;
}
.section img {
	float: left;
	margin-right: 40px;
}
.section:nth-of-type(even) img {
	float: right;
	margin-right: 0;
	margin-left: 40px;
}
.section p {font-size: 1.2em;}




.column p,
.parent-post .col p:not(.read-more) {
	text-align: left;
	font-style: italic;
	font-size: 1.1em;
}
.column a + p { display: none; }

h3 {
	clear: both;
	font-size: 1.8em;
	text-align: center;
	font-weight: normal;
	margin: .5em 0 .25em;
	padding: .5em 0 .25em 0;
}
h3 a {
	text-decoration: none;
}
.read-more,
.column .read-more {
	text-align: center;
	font-style: normal;
}
.read-more a {
	display: inline-block;
	background: #A15928;
	margin: 0 auto;
	padding: 5px 20px;
	border: 1px solid #482812;
	color: #fff;
	text-decoration: none;
	font-size: .8em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0 0 0 4px #fff, 1px 1px 2px 4px rgba(0,0,0,.25);
}
.read-more a::before {
	content: '\2022';
	padding-right: 10px;
}
.read-more a::after {
	content: '\BB';
	padding-left: 10px;
}
.read-more a:hover {
	color: #fff;
	background: #482812;
}

.format_text h4 {
	font-size: 1.2em;
	font-weight: normal;
	margin: .75em 0;
	padding-bottom: .25em;
	border-bottom: 1px solid #A15928;
}
.format_text h4 a {
	text-decoration: none;
	color: #A15928;
}
h4 strong {white-space: nowrap;}



/* Classes for figure elements */
figure:not(.col) {
	text-align: center;
	margin: 1em 5px 2em;
}

figcaption {
    text-align: center;
    font-style: italic;
}

figcaption h5 { font-style: normal; }
figcaption h4 { border: none; }


/* Sourcing boxes */
.sourcing {
	background: rgba(255,255,255,.25);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,.125);
	font-size: .9em;
	margin: 0 4em 1em;
	padding: 1em 1em .25em;
	text-align: center;
}
.sourcing h4 {
	color: #a58059;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	border-bottom: 1px solid #d7b693;
	line-height: 1.2;
	margin: 0.5em 2em 1.5em;
	font-size: 1.1em;
	padding-bottom: .5em;
}
.sourcing .col h4 {
	margin: 0 0 10px 0;
	border-top: 1px solid #dac9be;
	border-bottom: 1px solid #dac9be;
	padding: 10px;
	text-transform: none;
	font-style: italic;
	font-size: 1.4em;
	line-height: 1;
	font-weight: normal;
	letter-spacing: 0;
}
.sourcing ol {
	text-align: center;
	counter-reset: sources 0;
}
.sourcing ol li::before {
	content: counter(sources) ".";
  counter-increment: sources;
  margin-right: 5px;
}
.sourcing ol li {
	display: inline;
	margin: 0 10px 0 10px;
	white-space: nowrap;
}
.sourcing .col ol {
	text-align: left;
}
.sourcing .col p {
	text-align: left;
	line-height: 1.6;
}
.sourcing::after {
	clear: both;
	content: '';
	display: block;
}

/* post columns */

section.center {
	text-align: center;
}
section.fourcol, section.threecol, section.twocol {
	clear: both;
	margin-bottom: 2em;
}
.twocol .col {
	width: 48%;
	margin-right: 2%;
	float: left;
}
.twocol .col:nth-of-type(odd) {
	clear: left;
}
.twocol .col:nth-of-type(even) {
	clear: none;
	margin-right: 0;
}
.threecol .col {
	width: 31.33333%;
	float: left;
	margin-right: 3%;
	margin-bottom: 2%;
}
.threecol .col:nth-of-type(3n) {
	margin-right: 0;
}
.fourcol .col {
	width: 23.5%;
	float: left;
	margin-right: 2%;
}
.fourcol .col:nth-of-type(4n) {
	margin-right: 0;
}
.fivecol .col {
	width: 18.4%;
	float: left;
	margin-right: 2%;
}
.fivecol .col:nth-of-type(5n) {
	margin-right: 0;
}

body:not(.parent-post) .col {
	text-align: center;
	box-sizing: border-box;
}

body:not(.parent-post) .col p { text-align: left; }

body:not(.parent-post) .col h4 {
	text-align: center;
	border-bottom: 0;
	font-size: 1.1em;
	margin: 0;
}

.parent-post .col h4 {
	text-align: center;
	font-size: 1.25em;
}

/* Change heading styles a smidge for certain layouts */
.twocol h5 { margin-top: 3em; }

body:not(.parent-post) .twocol:not(.sourcing) h4 {
    margin: 0 0 1em;
    padding: .25em 0 .5em;
    border-top: 1px solid #7D7556;
    font-size: 1.4em;
}

/* Make images a smidge smaller */
.alternating img {
    max-width: 85%;
}

.alternating:nth-of-type(odd) img {
    margin-left: 25%;
}

.alternating:nth-of-type(even) img {
    margin-right: 25%;
}

/* Clean up formatting issues */
p.float-left {
	width: 40%;
	float: left;
	margin-right: 3%;
	margin-bottom: 3%;
}
p.float-left + h3 {
	clear: none;
	margin-top: 2em;
}
section::after {
	width: 100%;
	content: '';
	display: block;
	clear: both;
}

/* Call to actions */
.call-to-action {
	font-size: 1.1em;
	margin-bottom: 40px;
}

.call-to-action .text {
	float: left;
	width: calc(100% - 350px);
}

.call-to-action .action img {
	box-shadow: 0;
	float: right;
	padding: 0;
	margin: 13px 0 0 10px;
}

/* Table reset */

table, tr, th, td {
	border-collapse: collapse;
	border:none;
}

th, td {
	padding: 0;
}


/* Shipping Charts for promotion pages */

.promotion {
	font-size: 1.6em;
	margin-top: -2em;
}

.promotion h4 {
	font-style: italic;
	margin: 0 0 1em;
}

.shipping-special {
	text-align: left;
	padding-left: 40px;
}

.shipping-special .sourcing {
	width: 100%;
	font-size: 1.2em;
	margin: 2em 0;
	padding-bottom: 1em;
	position: relative;
}

.shipping-special .sourcing:before {
	border: 1px solid #fff;
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}
.shipping-chart {
	width: 100%;
	margin: 1em 0;
}

.shipping-chart tr {
	background: rgba(255, 255, 255, 0.25);
	border-bottom: 1px solid #93775F;
	padding: 0;
}

.shipping-chart tr:nth-of-type(odd) {
	background: rgba(218, 183, 160, 0.25);
}

.shipping-chart th {
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.shipping-chart td,
.shipping-chart th {
	margin: 0;
	padding: 10px;
	text-align: left;
}

.shipping-chart td:nth-child(3n+1) {

}

.shipping-chart td:nth-child(2n) {
	color: #7a6659;
	text-decoration: line-through;
}

.shipping-chart td:nth-child(3n) {
	font-weight: bold;
}

.shipping-chart em {
	font-weight: normal;
}

.small {
	font-size: .9em;
	font-style: italic;
}








/* Custom styling for the Sultan's Palace series.
 * This should be abstracted out into its own series, ideally with the import references to Almendra
 */

.sultans-palace > p:first-of-type, .sultans-palace > p.intro {
	font-size: 1.4em;
	line-height: 1.4;
	color: #a45f2f;
	margin: 2em 2em;
}
.sultans-palace > p:first-of-type:first-letter, .sultans-palace > p.intro:first-letter {
	color: #a45f2f;
	font-size: 6em;
	font-family: 'Almendra', cursive;
}
.sultans-palace > p, .sultans-palace .panel p {
	margin-top: 1em;
}
.sultans-palace > p:first-letter, .sultans-palace .panel p:first-letter {
	font-family: 'Almendra', cursive;
	font-size: 4em;
	margin: -.05em 4px -.1em 0;
	color: #9e5374;
	float: left;
}
.sultans-palace .panel {
	border-color: #9e5374;
	background: #fff url('images/quatrefoil.png');
}

.sultans-palace h3 {
	font-family: 'Almendra', cursive;
}
.sultans-palace h3 a {
	color: #4e2e5f;
}

.sultans-palace h4 {
	border-color: #32245f;
}
.sultans-palace h4, .sultans-palace h4 a {
	color: #32245f;
}

.sultans-palace .read-more a {
	background: #90afcc;
	border-color: #4e2e5f;
	color: #4e2e5f;
}
.sultans-palace .read-more a:hover {
	background: #738ca3;
	border-color: #fff;
	color: #fff;
}


