@import url(http://fonts.googleapis.com/css?family=Sacramento);

/* First-letter and/or word */
.featured-series.thanksgiving > p:first-of-type:first-letter, 
.thanksgiving .entry-content > p:first-of-type:first-letter, 
.thanksgiving p.intro:first-letter, 
.thanksgiving p.float-left + h3 + p:first-letter, 
.thanksgiving .panel p:first-of-type:first-letter {
    color: #718295;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin: -10px 10px 0 0;
    float: left;
    line-height: 1;
}
.thanksgiving .panel p:first-of-type:first-letter {
    font-size: 60px;
    margin-right: 5px;
    margin-top: -15px;
}

.featured-series.thanksgiving > p:first-of-type:first-line, 
.thanksgiving .entry-content > p:first-of-type:first-line, 
.thanksgiving p.intro:first-line,
.homepage .thanksgiving .panel p:first-of-type:first-line {
    color: #718295;
    font-family: 'Sacramento', cursive;
    font-size: 2em;
}


/* Intro panel */
.column .parent-intro {
    font-style: normal;
    color: #718295;
    font-family: 'Sacramento', cursive;
    font-size: 2.6em;
    line-height: 1.2em;
    text-align: center;
}

.thanksgiving .panel {
    background: url('thatched.jpg');
    background-size: 198px 200px;
    border-color: #455465;
    font-size: 1.2em;
    line-height: 2em;
}

.thanksgiving .panel strong {
    color: #455465;
    font-size: 2em;
    font-weight: normal;
    font-family: 'Sacramento', cursive;  
}

.thanksgiving .panel li {
    margin: 10px 30px;
}


/* General styles */
.thanksgiving .entry-content a, .featured-series.thanksgiving a {color: #466545;}

.thanksgiving .entry-content > h3, .thanksgiving .entry-content section:not(.related-posts) h3 {
    color: #455465;
    font-family: 'Sacramento', cursive;
    font-size: 2.4em;
}

.thanksgiving h4 {border-color: #466545;}

.thanksgiving h2, .thanksgiving .entry-content h4 a, .thanksgiving h4 {color: #455465;}

.thanksgiving .read-more a {
    color: #e4e2cf;
    background-color: #466545;
}

.thanksgiving .read-more a:hover {background-color: #455465;}
