@import url(http://fonts.googleapis.com/css?family=Rouge+Script);

/* Drop caps */
.mothers-day .entry-content > p:first-of-type:first-letter,
.mothers-day .entry-content p.intro:first-letter,
.mothers-day p.float-left + h3 + p:first-letter {
    font-family: 'Rouge Script', cursive;
    color: #8c0038;
    font-size: 146px;
    margin-top: -30px;
    margin-left: -40px;
    float: left;
    line-height: 1;
}

.mothers-day .entry-content > p:first-of-type,
.mothers-day .entry-content p.intro {
    margin-top: 3em;
}

.mothers-day .entry-content b {
    color: #8c0038;
    font-family: 'Rouge Script', cursive;
    font-size: 48px;
    font-weight: normal;
    margin-left: -20px;
}

/* Panels */
.mothers-day .panel {
    background: url('damask.png');
    border-color: #93765e;
}

.mothers-day .panel p:first-letter {
    color: #93765e;
    float: left;
    font-family: 'Rouge Script', cursive;
    font-size: 96px;
    line-height: 1;
    margin: -10px 5px -10px -10px;
}

/* Headers */
.mothers-day .entry-content > h3,
.mothers-day .entry-content section:not(.related-posts) h3 {
    clear: both;
    color: #93765e;
    font-family: 'Rouge Script', cursive;
    font-size: 3.1em;
    margin: 1em 0 .5em;
    text-align: center;
}

.mothers-day .entry-content > h3:after,
.mothers-day .entry-content > h3:before,
.mothers-day .entry-content section:not(.related-posts) h3:after,
.mothers-day .entry-content section:not(.related-posts) h3:before {
    display: inline-block;
    font-family: "saffron-marigold" !important;
    font-size: 1.5em;
    line-height: 1;
    color: #93765e;
    opacity: 0.5;
    vertical-align: middle;
}

.mothers-day .entry-content > h3:before,
.mothers-day .entry-content section:not(.related-posts) h3:before {
    content: 'g';
    padding-right: 10px;
}

.mothers-day .entry-content > h3:after,
.mothers-day .entry-content section:not(.related-posts) h3:after {
    content: 'h';
    padding-left: 5px;
}

.mothers-day h4 {
    border-color: #8c0038;
}

.mothers-day h4 a, .mothers-day h4 {
    color: #8c0038;
}

/* Links */
.mothers-day a {
    color: #8c0038;
}

.mothers-day .read-more a {
    color: #93765e;
    background: url('lace-strip.png') no-repeat;
    width: 150px;
    height: 25px;
    box-shadow: none;
    padding: 8px 0;
    border: none;
}

/* Story panel */
.mothers-day .story .photo {
    float: left;
    text-align: center;
    width: 30%;
}

.mothers-day .entry-content .story .photo h3:before,
.mothers-day .entry-content .story .photo h3:after {
    display: none;
}

.mothers-day .story .photo img {
    margin: 2em auto -3em;
    transform: rotate(-1deg);
}

.mothers-day .story .text {
    float: right;
    width: 65%;
    margin-left: 5%;
}
