@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps);

/* First-letter and/or word */
.featured-series.holidays > p:first-of-type:first-letter, 
.holidays .entry-content > p:first-of-type:first-letter, 
.holidays p.intro:first-letter, 
.holidays p.float-left + h3 + p:first-letter, 
.holidays .panel p:first-of-type:first-letter {
    color: #72151D;
    text-shadow: 2px 2px 2px #fff;
    font-family: "Elsie Swash Caps", cursive;
    text-shadow: 3px 0px 0px #FFF, 5px 0px 0px #FFF, 7px 1px 0px #1f2566;
    font-size: 128px;
    margin-right: 11px;
    margin-top: -5px;
}
.holidays .panel p:first-of-type:first-letter {
    font-size: 60px;
    margin-right: 5px;
    margin-top: -15px;
}



.holidays .panel {
    background: url('thatched.jpg');
    background-size: 198px 200px;
    border-color: #455465;
    font-size: 1.2em;
    line-height: 2em;
}

.holidays strong { color: #1f2566; }

.holidays .panel li {
    margin: 10px 30px;
}


/* General styles */
.holidays .entry-content a, .featured-series.holidays a {color: #72151D;}

.holidays .entry-content header {
    background: #1f2566 url('snowy-bg.png') no-repeat;
    padding: 10px 0;
    height: 150px;
    margin: 3em 0 1em;
    box-sizing: border-box; 
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
    text-align: center; 
}
.holidays header h3, .holidays .entry-content > h3, .holidays .entry-content section:not(.related-posts) h3 {
    color: #1f2566;
    font-family: "Elsie Swash Caps", cursive;
    font-size: 2.4em;
}
.holidays header h3 {
    margin: 20px auto -5px;
}
.holidays header h3:before, .holidays header h3:after {
    content: "f";
    font-family: "saffron-marigold" !important;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    color: #5383A0;
    opacity: .85;
    padding: 0 10px;
    vertical-align: middle;
}
.holidays .entry-content header h3 a { color: #fff; }
.holidays .entry-content header h4 {
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: 1px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 3px 10px;
}
.holidays .entry-content header h4:before, .holidays .entry-content header h4:after {
    content: '\2022';
    display: inline-block;
    padding: 0 10px;
    opacity: .5;
}
.holidays .small-intro {
    font-size: 1.2em;
    line-height: 1.8em;
    font-style: italic;
    margin: 20px 40px;
}

.holidays h4 {border-color: #1f2566;}

.holidays h2, .holidays .entry-content h4 a, .holidays h4 {color: #1f2566;}

.holidays .read-more a {
    color: #fff;
    background-color: #72151D;
}

.holidays .read-more a:hover {background-color: #521219;}
