/* Category intro panel */
.category-intro {
  @include clearfix;
  margin: 3em 0 4em 0;
  text-align: center;

  img {
    @extend %bordered;
    border-radius: 50%;
    margin: 0 auto;
    padding: 6px;
    width: 60%;

    @include tablet {
      float: left;
      margin-right: 2em;
      padding: 8px;
      width: 28%;
    }
  }

  h1 {
    clear: none;
    text-align: center;

    &::before,
    &::after {
      @extend %icons;
      display: inline-block;
      font-size: 1.8em;
      height: .8em;
      margin: -8px 5px;
      opacity: 0.25;
      vertical-align: top;
    }

    &::before {
      content: 'a';
    }

    &::after {
      content: 'b';
    }
  }

  p {
    line-height: 1.8;
    text-align: left;
  }
} // .category-intro


/* Colour-code top-level categories for more interest */
@include generate-category-colours("customer-love", $color__customer-love);
@include generate-category-colours("design-resources", $color__design-resources);
@include generate-category-colours("shopping-guides", $color__shopping-guides);
@include generate-category-colours("behind-the-curtain", $color__behind-the-curtain);



/* Post excerpts on archive pages */
.post-excerpt {
  img {
    @extend %bordered;
  }

  .entry-content {
    @include font-size(16);
    margin-top: 0;
    text-align: left;
  }
} // .post

/* Long post excerpt style */
.long-excerpt {
  @include unit(half);
  text-align: center;

  .entry-meta {
    @include font-size(15);
    padding-right: 5px;
    padding-left: 5px;

    &::before,
    &::after {
      padding: 0 5px;
    }
  }
}

/* Short post excerpt style */
.short-excerpt {
  clear: both;
  margin-top: 40px;

  .post-thumbnail {
    @include unit(third);
  }

  .entry-content {
    @include unit(two-thirds);
  }

  .tag-list {
    @include font-size(14);
    line-height: 1.4;
    margin: 1em 0;
    text-align: left;

    span {
      font-size: .9em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    a {
      font-style: italic;
      text-decoration: none;
    }

    strong {
      font-weight: bold;
      background: #edcfba;
      padding: 2px 5px;
    }
  } // .tags

  /* Tighten up layout on mobile */
  @include mobile {
    .post-thumbnail {
      padding-bottom: 0;
    }

    .entry-content {
      padding-top: 0;
    }

    h4 {
      margin-top: 0;
    }
  } // mobile

  /* Alternate floating of images and add a bit of padding to entry content */
  @include tablet {
    &:nth-of-type(odd) .post-thumbnail {
      float: right;
    }

    .entry-content {
      padding-top: 10px;
    }

    h4 {
      text-align: left;
    }
  } // tablet
} // .short-excerpt


/* Shopping Guide page */
.category-shopping-guides {

  .subcategory {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0;
    background: #fff;
    border: 10px solid #fff;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
    display: block;
    height: 300px;
    margin: 20px 0;
    position: relative;
    width: 100%;

    .div-link {
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    h2 {
      box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
      color: #fff;
      left: -25px;
      padding: 10px 14px;
      position: absolute;
      top: 15px;
    }

    .badge {
      background: none;
      box-shadow: none;
      height: 100px;
      position: absolute;
      right: -50px;
      top: 20px;
      width: 100px;
    }

    .read-more {
      bottom: 0;
      position: absolute;
      right: 25px;

      a {
        color: #fff;
        padding: 10px 30px;
      }
    } // .read-more

    @include generate-series-styles("valentines-day", $color__valentines-day);
    @include generate-series-styles("spring-decorating", $color__spring-decorating);
    @include generate-series-styles("mothers-day", $color__mothers-day);
    @include generate-series-styles("summer", $color__summer);
    @include generate-series-styles("back-to-school", $color__back-to-school);
    @include generate-series-styles("fall", $color__fall);
    @include generate-series-styles("thanksgiving", $color__thanksgiving);
    @include generate-series-styles("holidays", $color__holidays);

  } //.subcategory
} // .category-shopping-guides


/* Design Resources page */
.category-design-resources {
  overflow-x: hidden; /* Ensure the panel doesn't cause horizontal scrolling */
}

.subcategory-expander-link {
  @include font-size(14);
  background: #e6e0c9 url('images/seamless-paper-texture.jpg');
  border-bottom: 2px solid #e6e0c9;
  box-shadow: 0 -1px 3px rgba(0,0,0,.15);
  clip:rect(0px, 210px, 37px, 0px);
  color: $brown !important;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 1;
  margin: -16px 0 20px 0;
  padding: 10px 15px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 400;

  i {
    background: #fff8dc;
    border-radius: 50%;
    border: 1px solid $brown;
    color: $brown;
    display: inline-block;
    height: 15px;
    margin-right: 7px;
    padding-top: 1px;
    text-align: center;
    vertical-align: -3px;
    width: 15px;
  }
}

.subcategory-expander {
  @include clearfix;
  background-size: 200px 200px;
  background: #e6e0c9 url('images/seamless-paper-texture.jpg');
  border-bottom: 1px solid $brown;
  box-shadow: 0 -1px 3px rgba(0,0,0,.15);
  @include font-size(14);
  line-height: 1.8;
  margin: 2em -100% 6em;
  height: 10px;
  position: relative;
  top: 20px;
  width: 300%;

  div {
    margin: 0 auto;
    width: 33%;
  }

  section {
    float: left;
    margin: 1em 0;

    &:first-of-type {
      margin-right: 2.99em;
    }
  }

  h2 {
    padding: .25em;
    border-bottom: 1px solid desaturate(lighten($brown, 50%), 30%);
    color: $brown;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include font-size(16);

    i {
      display: inline-block;
      margin-bottom: -2px;
      margin-right: 5px;
      vertical-align: bottom;
      //@include font-size(14);
    }
  }

  ul {
    float: left;
    width: 190px;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
  }

  li {
    color: $brown;
    margin: 4px 0;
  }

  a {
    text-decoration: none;
  }
} // .subcategory-expander


/* Hide titles on tag pages and search results */
.tag .page-header,
.search-results .page-header {
  display: none;
}

/* Search results */
.search-results h1 {
  margin-bottom: 20px;
}

.search-term {
  background: rgba(255, 255, 255, 0.75);
  font-weight: bolder;
}

/* Search form on 404 and no results page */
.no-results,
.error-404 {
  text-align: center;

  .search-form {
    margin: 0 auto;
    max-width: 400px;
  }

  .search-field {
    width: 50%;
  }

  .search-submit {
    margin-left: 1%;
    width: 40%;
  }
}
