/* CATEGORY ARCHIVES */

/* Intro panel */
.category-intro {
  @include clearfix;
  margin: 3em 0 4em 0;
  text-align: center;

  img {
    border-radius: 50%;
    margin: 0 auto;
    width: 50%;

    @include tablet {
      float: left;
      margin-right: 2em !important; /* Currently a necessary evil */
      width: 25%;
    }
  }

  h1 {
    clear: none;
    text-align: center;
  }

  i {
    display: inline-block;
    margin: -8px 5px;
    height: .8em;
    vertical-align: top;
    opacity: .25;
    font-size: 1.8em;
  }

  p {
    line-height: 1.8;
    text-align: left;
  }
} // .category-intro


/* Category colour-coding */
.category-intro.behind-the-curtain h1, .behind-the-curtain a h2, .behind-the-curtain .prev_next a, .behind-the-curtain .post-excerpt p:not(.read-more) a { color: #a1414c; }
.behind-the-curtain .read-more a { background-color: #a1414c; }

.category-intro.customer-love h1, .customer-love a h2, .customer-love .prev_next a, .customer-love .post-excerpt p:not(.read-more) a { color: #77a2af; }
.customer-love .read-more a { background-color: #77a2af; }

.category-intro.design-resources h1, .design-resources a h2, .design-resources .prev_next a, .design-resources .post-excerpt p:not(.read-more) a { color: #5b4c70; }
.design-resources .read-more a { background-color: #5b4c70; }

.category-intro.shopping-guides h1, .shopping-guides a h2, .shopping-guides .prev_next a, .shopping-guides .post-excerpt p:not(.read-more) a { color: #838b64; }
.shopping-guides .read-more a { background-color: #838b64; }
