/* Headers */
.entry-header,
.page-header {
  margin-top: 1em;
  text-align: center;
}

.entry-meta {
  @include font-size(16);
  border-bottom: 2px solid $green;
  border-top: 1px solid $green;
  color: $green;
  display: inline-block;
  font-style: italic;
  margin: .75em auto 1em;
  padding: .4em 10px;
  word-spacing: 1px;

  &::before,
  &::after {
    content: '\2666';
    display: inline;
    padding: 0 10px;
  }

  abbr, a {
    color: #707956;
    font-size: .85em;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: normal;
  }
} // .entry-meta

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;

  @include mobile {
    display: none;
  }
}

/* Page structure */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Emphasize first paragraph */
.single-post .entry-content > p:first-of-type,
p.intro,
.featured-series > p:first-of-type {
  color: #7D7556;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 1em 0;

  @include tablet {
    margin: 2em 2em;
  }
}

/* Columns, as defined within actual page content itself */
.twocol {
  @extend %row;

  .col,
  .column {
    @include unit(half);

    &:nth-of-type(odd) {
      clear: left;
    }
  }
}

.threecol {
  @extend %row;

  .col,
  .column {
    @include unit(third);

    &:nth-of-type(3n+1) {
      clear: left;
    }
  }
}

/* Parent posts */
.parent-post {
  section {
    @extend %row;
  }

  .col,
  .column {
    @include unit(half);

    &:nth-of-type(odd) {
      clear: left;
    }

    p:not(.read-more) {
      @include font-size(18);
      //font-style: italic;
      line-height: 1.4;
    }
  }
} // .parent-post


/* Multi-sectioned parent posts (Holiday series, as of now) */
.parent-expander-link:after,
.parent-expander-link:before {
  display: none;
}

.read-more .parent-expander-link {
  padding: 8px 20px 8px 25px;
}

.parent-expander-link i {
  font-size: 1.5em;
  line-height: 0.3;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}

.expander {
  display: none;
}

/* Flag an individual post as "updated" within the parent post */
.parent-post .updated {
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    left: -30px;
    width: 71px;
    height: 71px;
    background: url('images/updated-for-2015.png') no-repeat;
    box-shadow: none;
    z-index: 1000;
  }
}

/* Call to action at bottom of posts */
.call-to-action {
  @include clearfix;
  margin-bottom: 40px;

  .text {
    @include unit(half);
  }

  .action {
    @include unit(half);
    text-align: center;
  }

  img {
    box-shadow: 0;
    padding: 0;
  }
}

/* Adjust headings for specific layout (example: http://www.saffronmarigold.com/blog/ideas-for-a-fresh-and-feminine-mothers-day-brunch-2015/) */
body:not(.parent-post) .twocol:not(.sourcing) {
  h5 {
    margin-top: 3em;
  }

  h4 {
    margin: 0.25em 0 1em;
    padding: .25em 0 .5em;
    border-bottom: 0;
    border-top: 1px solid lighten($brown, 25%);
  }
}

/* This ensures that images smaller than the column will appear center aligned, but that paragraphs will still left-align */
.col img {
  @include center-block;
}

/* Series navigation */
.series-navigation {
  margin-bottom: 0;
  padding: $gutters / 2 $gutters;

  p {
    padding: $gutters / 2 $gutters;
  }

  .next-post,
  .previous-post,
  .all-posts {
    @include font-size(13);
    line-height: 1.2;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
      text-decoration: none;
    }
  }

  .previous-post {
    @include unit(fourth);
    text-align: left;
  }

  .next-post {
    @include unit(fourth);
    text-align: right;
  }

  .all-posts {
    @include unit(half);
    text-align: center;
  }
}

/* Sharedaddy panel */
.sharedaddy {
  @extend %row;
  border-top: 1px solid lighten($brown, 25%);
  border-bottom: 2px solid lighten($brown, 25%);
  overflow: auto;
  padding: 5px 0 0;

  h3 {
    @extend h5;
    @include unit(half);
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;

    @include tablet {
      padding-bottom: 0;
      padding-top: 7px;
    }
  }

  img {
    border: 0;
    box-shadow: none;
  }

  .sd-content {
    @include unit(half);
    padding-top: 5px;
    padding-bottom: 0;
    text-align: center;

    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
    }
  } // .sd-content

} // .sharedaddy

/* Tag list */
.tags-links {
  background: rgba(255, 255, 255, .3);
  padding: 4px 8px;
  color: #8c927b;
  @include font-size(14);
  margin: 2em auto 2.5em;

  span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
  }

  a {
    margin: 0 5px;
    font-style: italic;
    text-transform: lowercase;
    text-decoration: none;
  }
}

/* YARPP Related Posts */
.related-posts {
  @extend %row;

  .related-post {
    @include unit(third);

    img {
      @extend %bordered;
    }

    h4 {
      @include font-size(19);
      margin-top: 0.25em;
    }

    p {
      @include font-size(14);
      line-height: 1.4;
    }

    .read-more-inline {
      white-space: nowrap;

      a {
       text-decoration: none;
      }
    }
  }
}


