/* Headers */
.entry-header,
.page-header {
  text-align: center;
}

.entry-meta {
  @include font-size(16);
  border-bottom: 2px solid $green;
  border-top: 1px solid $green;
  color: $green;
  display: inline-block;
  font-style: italic;
  margin: .75em auto 1em;
  padding: .4em 10px;
  word-spacing: 1px;

  &::before,
  &::after {
    content: '\2666';
    display: inline;
    padding: 0 10px;
  }

  abbr, a {
    color: #707956;
    font-size: .85em;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: normal;
  }
} // .entry-meta

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;

  @include mobile {
    display: none;
  }
}

/* Page structure */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Emphasize first paragraph */
.single-post .entry-content > p:first-of-type,
p.intro,
.featured-series > p:first-of-type {
  color: #7D7556;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 1em 0;

  @include tablet {
    margin: 2em 2em;
  }
}

/* Columns, as defined within actual page content itself */
.twocol {
  @extend %row;

  .col,
  .column {
    @include unit(half);

    &:nth-of-type(odd) {
      clear: left;
    }
  }
}

/* Parent posts */
.parent-post {
  section {
    @extend %row;
  }

  .col,
  .column {
    @include unit(half);

    &:nth-of-type(odd) {
      clear: left;
    }

    h4 {
      margin-top: 0;
    }

    p:not(.read-more) {
      @include font-size(18);
      //font-style: italic;
      line-height: 1.4;
    }
  }
} // .parent-post


/* Multi-sectioned parent posts (Holiday series, as of now) */
.parent-expander-link:after,
.parent-expander-link:before {
  display: none;
}

.read-more .parent-expander-link {
  padding: 8px 20px 8px 25px;
}

.parent-expander-link i {
  font-size: 1.5em;
  line-height: 0.3;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}

.expander {
  display: none;
}

/* Flag an individual post as "updated" within the parent post */
.parent-post .updated {
  position: relative;
}

.parent-post .updated:after {
  display: block;
  content: '';
  position: absolute;
  top: 20px;
  left: -30px;
  width: 71px;
  height: 71px;
  background: url('images/updated-for-2015.png') no-repeat;
  box-shadow: none;
  z-index: 1000;
}


/* Series navigation */
.series-navigation {
  margin-bottom: 0;
  padding: $gutters / 2 $gutters;

  p {
    padding: $gutters / 2 $gutters;
  }

  .next-post,
  .previous-post,
  .all-posts {
    @include font-size(13);
    line-height: 1.2;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
      text-decoration: none;
    }
  }

  .previous-post {
    @include unit(fourth);
    text-align: left;
  }

  .next-post {
    @include unit(fourth);
    text-align: right;
  }

  .all-posts {
    @include unit(half);
    text-align: center;
  }
}

/* Sharedaddy panel */
.sharedaddy {
  border-top: 1px solid #7D7556;
  border-bottom: 2px solid #7D7556;
  overflow: auto;
  padding: 5px 0;
}
.sharedaddy::after {
  clear: both;
  content: '';
  display: block;
}
.sharedaddy h3 {
  float: left;
  width: 30%;
  padding: 0;
  margin: 4px 0 0;
  font-size: 1em;
  font-style: italic;
}
.sharedaddy img {
  border: 0;
  box-shadow: none;
}
.sd-content {
  float: left;
  width: 65%;
  margin-left: 5%;
}
.sd-content ul {margin: 0;}
.sd-content li {
  display: block;
  list-style-type: none;
  float: left;
  margin-top: 5px;
}
div.sharedaddy a.sd-button {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  background: -moz-linear-gradient(center top , #F7F7F7 0%, #EFEFEF 100%) repeat scroll 0% 0% transparent;
  border-radius: 3px;
  border: 1px solid #DDD !important;
  box-shadow: 0px 1px 0px #FFF inset;
  color: #000 !important;
  text-decoration: none;
  line-height: 1;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
}
div.sharedaddy a, div.sharedaddy a:link, div.sharedaddy a:visited {
  font-style: normal;
}
div.sharedaddy .share-custom a.sd-button {
  background: #fff;
  text-indent: 20px;
  margin-left: 20px;
  margin-top: -5px;
}
li.share-email {
  margin-right: 20px;
  margin-top: 3px;
}
li.share-email a.sd-button > span {
  background-image: url('../../../plugins/jetpack/modules/sharedaddy/images/email.png');
  padding-left: 24px;
}
.sd-social-icon-text a.sd-button > span, a.sd-button > span {
  padding: 1px 5px 1px 23px;
  background-position: 2px center;
  background-repeat: no-repeat;
}
a.sd-button > span {
  padding: 1px 8px;
  display: block;
  opacity: 0.8;
  line-height: 1.5;
  text-shadow: none;
}


// Post tags
.tags-links {
  background: rgba(255, 255, 255, .3);
  padding: 4px 8px;
  color: #8c927b;
  @include font-size(14);
  margin: 2em auto 2.5em;

  span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
  }

  a {
    margin: 0 5px;
    font-style: italic;
    text-transform: lowercase;
    text-decoration: none;
  }
}

/* YARPP Related Posts */
.related-posts {
  clear: both;
}
.related-posts div {
  width: 30%;
  float: left;
  margin-right: 5%;
}
.related-posts div:nth-of-type(3) {
  margin-right: 0
}
.related-posts h3 {
  text-align: left;
}
.related-posts h4 {
  text-align: center;
}
.related-posts .inline-readmore {
  text-decoration: none;
  white-space: nowrap;
}
