/* Parent posts are marked as "sticky". We're not formatting them any differently at the moment, but we could! */
.sticky {
  font-weight: normal;
}

/* Headers */
.entry-header,
.page-header {
  margin-top: 1em;
  text-align: center;
}

.entry-meta {
  @include font-size(16);
  border-bottom: 2px solid $green;
  border-top: 1px solid $green;
  color: $green;
  display: inline-block;
  font-style: italic;
  margin:0.75em auto 0.9em;
  padding: 0.25em 10px;
  word-spacing: 1px;

  &::before,
  &::after {
    content: '\2666';
    display: inline;
    padding: 0 10px;
  }

  abbr, a {
    color: #707956;
    font-size: .75em;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: normal;
  }
} // .entry-meta

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;

  @include mobile {
    display: none;
  }
}

/* Page structure */
.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Emphasize first paragraph */
.single-post .headline_area{
  margin: 0;
}
.single-post .entry-content  p:first-of-type,
p.intro,
.featured-series  p:first-of-type {
  color: #7D7556;
//  font-size: 1.4em;
//  line-height: 1.4;
//  margin:2em;

  @include tablet {
//    margin: 2em;
  }
}


/* Columns, as defined within actual page content itself */
.twocol {
  @extend %row;

  .col,
  .column {
    @include unit(half);

    &:nth-of-type(odd) {
      clear: left;
    }
  }
}


/* Parent posts */
.parent-post {
  section {
    @extend %row;
  }
  .col,
  .column {
    @include unit(half);
    &:nth-of-type(odd) {
      clear: left;
    }
    p:not(.read-more) {
      @include font-size(18);
      //font-style: italic;
      line-height: 1.4;
    }
  }
} // .parent-post


.threecol {
  @extend %row;
  .col,
  .column {
    //    @include unit(third);
    display: block;
    width: 100%;
    &:nth-of-type(odd) {
      clear: none !important;
    }
  }
  .col{
    margin-bottom: 2%;
    margin-right: 3%;
    padding: 0;
    width: 31.3333%;
    float: left;
    &:nth-of-type(3n) {
      clear: none;
      margin-right: 0;
    }
  }
}

/* Multi-sectioned parent posts (Holiday series, as of now) */
.parent-expander-link:after,
.parent-expander-link:before {
  display: none;
}

.read-more .parent-expander-link {
  padding: 8px 20px 8px 25px;
}

.parent-expander-link i {
  font-size: 1.5em;
  line-height: 0.3;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
}

.expander {
  display: none;
}

/* Flag an individual post as "updated" within the parent post */
.parent-post .updated {
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    left: -30px;
    width: 71px;
    height: 71px;
    background: url('images/updated-for-2015.png') no-repeat;
    box-shadow: none;
    z-index: 1000;
  }
}

/* Call to action at bottom of posts */
.call-to-action {
  @include clearfix;
  margin-bottom: 40px;

  .text {
    @include unit(half);
  }

  .action {
    @include unit(half);
    text-align: center;
  }

  img {
    box-shadow: 0;
    padding: 0;
  }
}

/* Adjust headings for specific layout (example: http://www.saffronmarigold.com/blog/ideas-for-a-fresh-and-feminine-mothers-day-brunch-2015/) */
body:not(.parent-post) .twocol:not(.sourcing) {
  h5 {
    margin-top: 2em;
  }

  h4 {
    margin: 0.25em 0 1em;
    padding: .25em 0 .5em;
    border-bottom: 0;
    border-top: 1px solid lighten($brown, 1%);
  }
}

/* This ensures that images smaller than the column will appear center aligned, but that paragraphs will still left-align */
.col img {
  @include center-block;
}

/* Series navigation */
.series-navigation {
  margin-bottom: 0;
  padding: $gutters / 2 $gutters;

  p {
    padding: $gutters / 2 $gutters;
  }

  .next-post,
  .previous-post,
  .all-posts {
    @include font-size(13);
    line-height: 1.2;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
      text-decoration: none;
    }
  }

  .previous-post {
    @include unit(fourth);
    text-align: left;
  }

  .next-post {
    @include unit(fourth);
    text-align: right;
  }

  .all-posts {
    @include unit(half);
    text-align: center;
  }
}

.summer{
  .format_text{
    h3, &.entry-content p span{
      color: #1b86d6;
      font-family: "Fredericka the Great",cursive;
      font-size: 26px;
    }
  }
  figure{
    width: inherit !important;
    img{
      height: 195px;
      width: 195px;
    }
  }

  .format_text{
    &.entry-content {
      p:first-of-type {
        margin: 0 !important;
      }
    }
  }
  .entry-header{
   margin-bottom: 2.4em;
  }
}

/* Sharedaddy panel */
.sharedaddy {
  @extend %row;
  border-top: 1px solid lighten($brown, 25%);
  border-bottom: 2px solid lighten($brown, 25%);
  overflow: auto;
  padding: 5px 0 0;
  margin-bottom: 7px;

  h3 {
    @extend h5;
    @include unit(half);
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 30%;

    @include tablet {
      padding-bottom: 0;
      padding-top: 7px;
    }

    &.sd-title{
      color: #7d7556;
      font-family: $font__main;
      text-transform: inherit;
      font-style: italic;
      display: inline-block;
      font-size: 9pt;
      font-weight: 700;
      margin: 0 0 1em;
      letter-spacing: 0;
      &:before{
        border-top: medium none;
        content: "";
        display: block;
        margin-bottom: 1em;
        min-width: 30px;
        width: 100%;
      }
    }
  }

  img {
    border: 0;
    box-shadow: none;
  }

  .sd-content {
    @include unit(half);
    padding-top: 5px;
    padding-bottom: 0;
    text-align: left;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    width: 65%;

    ul {
      margin: 0 0 0.7em !important;
      display: inline-block;
      widows: 100%;
    }

    li {
      display: block;
      float: left;
      height: 25px;
      margin: 0 10px 5px 0 !important;
    }
  } // .sd-content

} // .sharedaddy

/* Tag list */
.tags-links {
  background: rgba(255, 255, 255, .3);
  padding: 4px 8px;
  color: #8c927b;
  @include font-size(16);
  margin: 2em auto 2.5em;
  span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
  }
  a{
    margin: 0 7px;
    font-style: italic;
    text-transform: lowercase;
    text-decoration: none;
    color: #a15928;
  }
}

/* YARPP Related Posts */
.related-posts {
  @extend %row;

  div.related-post{
    float: left;
    margin-right: 3.3%;
    width: 30%;
    padding: 0;
    &:last-child{
      margin-right: 0;
    }
  }

  .saffron-related-thumb{
//    display: block;
    height: 351px;
    overflow: hidden;
    width: 100%;
    /*img{
      width: 100%;
      height: 100%;
    }*/
  }




  h3{
    text-align: left;
    color: #7d7556 !important;
    font-family: $font__main !important;
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 1.2em 0 0.6em
  }

  .related-post {
    @include unit(third);

    img {
      @extend %bordered;
    }

    h4 {
      @include font-size(19);
      margin-top: 0.25em;
      min-height: 55px;
    }

    p {
      @include font-size(16);
      line-height: 1.5;
    }

    .read-more-inline {
      white-space: nowrap;

      a {
        text-decoration: none;
      }
    }
  }
}




/*sun-kissed-summer-table*/

.entry-content{

  /*p{
    margin: 1.5em 0 !important;
  }*/

  span.summer-text-f{
    color: #1b86d6;
    font-family: "Fredericka the Great",cursive;
    font-size: 24px;
  }
  .panel{

    background:#fee6d6 url("images/post-page-swatch-panel.jpg") no-repeat ;
    /* border-bottom: medium none;
     border-top: medium none;*/
    box-sizing: border-box;
    margin: 0;
    padding: 3em 1em 2em;
    h3{
      color: #1b86d6;
      font-family: "Fredericka the Great",cursive;
      font-size: 26px;
    }
    p{
      color: #566e88;
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 24px;
      padding: 0 25px;
      span{
        color: #1b86d6;
        font-family: "Fredericka the Great",cursive;
        font-size: 24px;
      }
      &:not(.series-description) {
        padding-left: 3.8em;
      }
      &.series-description:empty {
        display: none;
      }
    }
    &.series-navigation {
      background: #edccb6 url("images/featured_summer_background.jpg") no-repeat scroll 0 0 / 100% auto;
      border-bottom: 2px solid #2299ff;
      border-color: #2299ff;
      border-top: 1px solid #2299ff;
      padding: 1.7em 2em;
      p{
        color: #566e88;
        font-size: 18px;
        padding: 26px 80px;
      }
    }
  }
}//end panel

.format_text{
  h2, h3{
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 1.8em 0 0.6em;
  }
}



/*content-area*/

.content-area{
  margin:-0.8em 0em 2.4em 1em;
}

.twocol h4 a,
.twocol h2,
.previous-post a,
.next-post a,
.all-posts a {
  color: #566e88;
}
h5 {
  color: #1b86d6;
}

a.saffron-thumb{
  width: 390px;
  height: 320px;
  overflow: hidden;
  display: inline-block;
  /*img{
    width: 100%;
    height: 100%;
  }*/
}

/*leave a comment css*/
#comments{
  h3{
    &.comment-reply-title{
      text-align: left;
      padding-bottom:1.2rem;
      padding-left:1.2rem;
      font-size: 1.9rem;
      line-height: 1.263em;
      color: #555;
      font-family: $font__main;
      border-bottom: 1px dotted #bbb;
    }
  }
  p{
    input{
      float: left;
    }
    label {
      padding: 0 0 0 10px;
      position: relative;
      top: -2px;
    }
    &.comment-form-comment{
      label{
        display: none;
      }
    }
    &.form-allowed-tags{
      display: none;
    }
    &.form-submit {
      display: inline-block;
      width: 100%;
    }
  }
}

h1.entry-title,
h2.entry-title {
  font-size: 2.15em;
  line-height: 1.2;
  margin: 0 auto;
}
.content-area .post{
  padding:19px 0 0;
}