.holiday-sale .promotion .panel {
  background: url('images/panel.png');
  width: 509px;
  margin: 0 auto -2em;
  height: 388px;
  border: 0;
  padding: 4em 2em;
}

.holiday-sale .promotion .panel p {
  line-height: 1.4;
  font-weight: normal;
  font-size: 21px;
  text-shadow: 0px 1px 0px #8b8e90;
  font-style: italic;
  color: #fff;
  -webkit-text-stroke: 0;
}

.holiday-sale .promotion .panel p:first-letter {
  color: #2a5567;
  font-family: Lancelot, cursive;
  font-style: normal;
  font-weight: bold;
  margin: -5px 10px -5px -5px;
  font-size: 85px;
  text-shadow: 1px 1px 0px #fff;
  line-height: .8;
}

.holiday-sale .promotion img:not(.swatch) {
  background: none;
  box-shadow: none;
  padding: 0;
}

.holiday-sale .promotion .swatch {
  padding: 0;
  margin-bottom: 10px;
}

.holiday-sale .promotion h2 {
  margin: 3em 0 1em;
  text-align: center;
}

.holiday-sale .promotion h4, .holiday-sale .promotion strong {
  color: #587b8a;
}


